<h3>Delete &amp; reset</h3>
{% if user_owns_it or user.is_staff %}    
  {% if user.is_staff and not user_owns_it %}
    <div class="staff">
  {% else %}
    <div>
  {% endif %}

  <form action="{% url scraper_delete_scraper scraper.wiki_type scraper.short_name %}" method="post">
    <input type="hidden" name="delete_scraper" value="1" />
    <input type="submit" id="btnDeleteScraper" class="danger" value="Delete this {{scraper.wiki_type}}?" />
    <p>Deletes this view. There is no undo.</p>
  </form>

  {% ifequal scraper.wiki_type 'scraper' %}
    <form action="{% url scraper_delete_data scraper.short_name %}" method="post">
      <input type="hidden" name="delete_data" value="1" />
      <input type="submit" id="btnClearDatastore" class="danger" value="Clear the datastore?" />
      <p>Removes all data for this scraper. There is no undo.</p>
    </form>
  {% endifequal %}
  </div>
{% else %}
  <p class="infobox">Only the creator of a {{scraper.wiki_type}} can delete it.</p>
{% endif %}

<h3>Privacy settings
  {% if user_owns_it %}
    <a id="aPrivacyStatusChoice" class="edit">[edit status]</a>
  {% endif %}
</h3>

{# this select gets taken apart and rebuilt by jeditable #}
<select class="hide" id="optionsPrivacyStatusChoices">
  {% for value, name in PRIVACY_STATUSES %} 
    <option value="{{value}}">{{name}}</option>
  {% endfor %}
</select>
This {{scraper.wiki_type}} is: <b><span id="spnPrivacyStatusChoice">{{privacy_status_name}}</span></b>
<p> </p>


{% if user.is_staff %}
<div class="staff">
  <h3>Admin only</h3>
  {% ifequal scraper.wiki_type 'view' %}
    <p><a href="/admin/codewiki/view/{{scraper.pk}}/"><b>View's Django admin page</b></a></p>
  {% else %}
    <p><a href="/admin/codewiki/scraper/{{scraper.pk}}/">Scraper's Django admin page</a></p>
  {% endifequal %}

  {% ifequal scraper.wiki_type 'scraper' %}
    <form action="{% url scraper_run_scraper scraper.short_name %}" method="post">
      <input type="hidden" name="run_scraper" value="1" />
      <input type="submit" id="btnRunScraper" class="" value="Run now (if scheduled)" />
      <p>If this scraper's schedule is overdue, runs it immediately.</p>
    </form>
  {% endifequal %}

  <form action="{% url scraper_screenshoot_scraper scraper.wiki_type scraper.short_name %}" method="post">
    <input type="hidden" name="screenshoot_scraper" value="1" />
    <input type="submit" id="btnScreenshootScraper" class="" value="Screenshoot this scraper" />
    <p>Take a screenshot of this scraper.</p>
  </form>
</div>
{% endif %}


