<ul>
    {% if scraper.owner %}
    <li>
        <a href="{% url profiles_profile_detail scraper.owner.username %}">
        {% load gravatar %} {% show_gravatar scraper.owner 'medium' %} 
        {{scraper.owner.get_profile.name}}</a> (creator)
    </li>
    {% else %}
    <li style="color:red">[Error: this scraper has no creator]</li>
    {% endif %}

    {% if scraper.requesters %}  
      {% for requester in scraper.requesters %}  
        <li>
        	{% load gravatar %} {% show_gravatar requester 'medium' %} 
            <a href="{% url profiles_profile_detail requester.username %}">{{requester.get_profile.name}}</a>
            (requested this scraper)
        </li>
      {% endfor %}
    {% endif %}
    {% if scraper.contributors %}  
      {% for contributor in scraper.contributors %}  
        <li>
        	{% load gravatar %} {% show_gravatar contributor 'medium' %} 
            <a href="{% url profiles_profile_detail contributor.username %}">{{contributor.get_profile.name}}</a>
            (editor)
        </li>
      {% endfor %}
    {% endif %}
</ul>