<ul>
    {% if not userrolemap.owner %}
      <li style="color:red">[Error: this scraper has no creator]</li>
    {% endif %}

    {% with 'owner' as role %}
      {% for contributor in userrolemap.owner %}
        {% include 'codewiki/includes/contributor.html' %}
      {% endfor %}
    {% endwith %}

    {% with 'requester' as role %}
      {% for contributor in userrolemap.requesters %}
        {% include 'codewiki/includes/contributor.html' %}
      {% endfor %}
    {% endwith %}

    {% with 'editor' as role %}
      {% for contributor in userrolemap.editor %}  
        {% include 'codewiki/includes/contributor.html' %}
      {% endfor %}
    {% endwith %}

    {% with 'email' as role %}
      {% for contributor in userrolemap.email %}  
        {% include 'codewiki/includes/contributor.html' %}
      {% endfor %}
    {% endwith %}

</ul>

{# {% if user.is_staff %} #} 
    {% if user_owns_it %}
      {% ifnotequal scraper.privacy_status 'public' %}
        <div class="staff" id="addneweditor"><!-- staff only, dark launch-->
          <span class="hide">
            Editor username:
            <input type="text" class="text">
            <input type="button" value="Cancel" class="cancelbutton">
            <input type="button" value="Add" class="addbutton">
          </span>
          <a><img src="{{ MEDIA_URL }}images/icons/add.png" width="16" height="16" /> Add a new editor</a>
        </div> <!-- end staff only, dark launch -->
      {% endifnotequal %}
    {% endif %}
{# {% endif %} #}

{% comment %}
    {% if userrolemap.follow %}
    <h3>Followers</h3>
    {% ifnotequal scraper.privacy_status 'public' %}
        <p id="followernoaccessmessage">(Do not have edit access to this {{scraper.wiki_type}}.)</p>
    {% endifnotequal %}
    <ul>
    {% with 'follow' as role %}
        {% for contributor in userrolemap.follow %}  
        {% include 'codewiki/includes/contributor.html' %}
        {% endfor %}
    {% endwith %}
    </ul>
    {% endif %}
{% endcomment %}
<!--
<p class="{% ifnotequal scraper.privacy_status 'public' %}xxxreport{% endifnotequal %}">This {{scraper.wiki_type}} <span id="spnPrivacyStatusChoice">{{privacy_status_name}}</span>.
  <select class="hide" id="optionsPrivacyStatusChoices">  {# this select gets taken apart and rebuilt by jeditable #}
  {% for value, name in PRIVACY_STATUSES %} 
    <option value="{{value}}">{{name}}</option>
  {% endfor %}
  </select>

  {% if user.is_staff %}
    <span class="staff">
    {% if user_owns_it %}
      <a id="aPrivacyStatusChoice" class="edit">[edit status]</a>
    {% endif %}
    </span>
  {% endif %}
</p>
-->

<div id="privacy_status">
    {% ifequal scraper.privacy_status 'public' %}
        <h4><img src="{{ MEDIA_URL }}images/icons/shield-public.png" width="16" height="16" /> 
            This {{scraper.wiki_type}} is public 
            {% if user.is_staff %} 
                {% if user_owns_it %}
                <a class="staff" id="show_privacy_choices">[edit]</a>
                {% endif %}
            {% endif %}
        </h4>
        <p>Anyone can see this scraper, and any registered user can edit it.</p>
    {% endifequal %}
    {% ifequal scraper.privacy_status 'visible' %}
        <h4><img src="{{ MEDIA_URL }}images/icons/shield-protected.png" width="16" height="16" /> 
            This {{scraper.wiki_type}} is protected 
            {% if user.is_staff %} 
                {% if user_owns_it %}
                <a class="staff" id="show_privacy_choices">[edit]</a>
                {% endif %}
            {% endif %}
        </h4>
        <p>Anyone can see this scraper, but only the contributors listed above can edit it.</p>
    {% endifequal %}
    {% ifequal scraper.privacy_status 'private' %}
        <h4><img src="{{ MEDIA_URL }}images/icons/shield-private.png" width="16" height="16" /> 
            This {{scraper.wiki_type}} is private 
            {% if user.is_staff %} 
                {% if user_owns_it %}
                <a class="staff" id="show_privacy_choices">[edit]</a>
                {% endif %}
            {% endif %}
        </h4>
        <p>Only the contributors listed above can see or edit this scraper.</p>
    {% endifequal %}

    <form id="privacy_status_form">
        <table cellspacing="0" cellpadding="0">
            <tr class="first">
                <td class="radio"><input type="radio" name="privacy_status" value="public" id="privacy_public" 
                {% ifequal scraper.privacy_status 'public' %} checked="checked" {% endifequal %}
                /></td>
                <td><h4><label for="privacy_public">Public</label></h4><p><label for="privacy_public">Everyone can see and edit this {{scraper.wiki_type}}.</label></p></td>
            </tr>
            <tr>
                <td class="radio"><input type="radio" name="privacy_status" value="visible" id="privacy_protected" 
                {% ifequal scraper.privacy_status 'visible' %} checked="checked" {% endifequal %}
                /></td>
                <td><h4><label for="privacy_protected">Protected</label></h4><p><label for="privacy_protected">Everyone can see this {{scraper.wiki_type}}, but only selected contributors can edit it.</label></p></td>
            </tr>
            <tr>
                <td class="radio"><input type="radio" name="privacy_status" value="private" id="privacy_private" 
                {% ifequal scraper.privacy_status 'private' %} checked="checked" {% endifequal %}
                /></td>
                <td><h4><label for="privacy_private">Private</label></h4><p><label for="privacy_private">Only selected contributors can see or edit this {{scraper.wiki_type}}.</label></p></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="button" value="Save" id="saveprivacy">
                    <input type="button" value="Cancel" id="cancelprivacy">
                </td>
            </tr>
        </table>
        
    </form>
</div>
