<ul>
    {% for owner in userrolemap.owner %}
    <li>
        <a href="{% url profiles_profile_detail owner.username %}">
        {% load gravatar %} {% show_gravatar owner 'medium' %} 
        {{owner.get_profile.name}}</a> (creator)
    </li>
    {% endfor %}

    {% if userrolemap.owner %}{% else %}
      <li style="color:red">[Error: this scraper has no creator]</li>
    {% endif %}

    {% if scraper.requesters %}  
      {% for requester in scraper.requesters %}  
        <li>
        	{% load gravatar %} {% show_gravatar requester 'medium' %} 
            <a href="{% url profiles_profile_detail requester.username %}">{{requester.get_profile.name}}</a>
            (requested this scraper)
        </li>
      {% endfor %}
    {% endif %}
    {% for contributor in userrolemap.editor %}  
      <li>
        {% load gravatar %} {% show_gravatar contributor 'medium' %} 
          <a href="{% url profiles_profile_detail contributor.username %}">{{contributor.get_profile.name}}</a>
          (editor)
      </li>
    {% endfor %}
</ul>