{% load schedule %}

{% ifequal scraper.scraper.run_interval 1000000000 %}
<p>
	Scraper is running.
</p>
{% else %}
<p>
  <span title="Exact time of next run: {{scraper.scraper.next_run}}">

      It is scheduled to run

      <span id="spnRunIntervalInner" rawInterval="{{scraper.scraper.run_interval}}">{{scraper.scraper.run_interval|schedule}}</span>
      {% ifnotequal scraper.scraper.next_run.year 9999 %}
        {% ifequal scraper.scraper.next_run|timeuntil '0 minutes' %}
          (next run ASAP).
        {% else %}
          (next in {{scraper.scraper.next_run|timeuntil}}).
        {% endifequal %}
      {% else %}
        (no future run scheduled).
      {% endifnotequal %}

  </span>
</p>
