<ul>
    {% load comments %}
    <li{% ifequal selected_tab "comments" %} class="selected"{% endifequal %}>
        <a href="{% url scraper_comments scraper.wiki_type scraper.short_name %}">Discussion
           {% get_comment_count for scraper as cc %}({{ cc }})</a>
    </li>
    <li{% ifequal selected_tab "history" %} class="selected"{% endifequal %}>
        <a href="{% url scraper_history scraper.wiki_type scraper.short_name %}">History</a>
    </li>
    {% ifequal scraper.wiki_type 'scraper' %}                
        {% if scraper.has_geo %}
            <li{% ifequal selected_tab "map" %} class="selected"{% endifequal %}>
                <a href="{% url scraper_map scraper.short_name %}">Map</a>
            </li>
        {% endif %}
        <li{% ifequal selected_tab "code" %} class="selected"{% endifequal %}>
            <a href="{% url editor_edit scraper.wiki_type scraper.short_name %}">Edit <small>({{scraper.language}})</small></a>
        </li>
        <li{% ifequal selected_tab "overview" %} class="selected"{% endifequal %}>
            <a href="{% url scraper_overview scraper.short_name %}">Scraper</a>
        </li>
    {% else %}
        <li{% ifequal selected_tab "code" %} class="selected"{% endifequal %}>
            <a href="{% url editor_edit scraper.wiki_type scraper.short_name %}">Edit</a>
        </li>
        <li{% ifequal selected_tab "overview" %} class="selected"{% endifequal %}>
            <a href="{% url view_overview scraper.short_name %}">View</a>
        </li>
    {% endifequal %}
</ul>