{% extends "codewiki/scraper_base.html" %}

{% block javascript %}
  {% with scraper.language|lower as language %}
    {% include 'codewiki/includes/codemirror_parsers.html' %}
  {% endwith %}

  {# contains highlightCode and highlightOtherCode #}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/codeviewer.js?{{settings.REVISION}}"></script>		
{% endblock %}

{% block tab %}
<ul class="commitlist">

{% if status.currcommit %}
  {% if status.prevcommit %}
    <li>
      <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.prevcommit.rev}}&otherrev={{status.currcommit.rev}}">{{status.prevcommit.date|date:"H:i, j F Y" }}</a>
      {% if status.prevcommit.user %} 
        edited by <a href="{% url profiles_profile_detail status.prevcommit.user.username %}" class="historyuser">
        {% if status.prevcommit.user.get_profile.name %}{{status.prevcommit.user.get_profile.name}}{% else %}{{status.prevcommit.user.username}}{% endif %}
        </a>
      {% endif %}
    </li>

    {% ifnotequal status.prevcommit.editingsession status.currcommit.editingsession %}
      <li class="neweditingsession"><span>new enditing session</span></li>
    {% endifnotequal %}
  {% endif %}
  
  <li class="current">
  {% if matcheropcodes %}
    <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.currcommit.rev}}">{{status.currcommit.date|date:"H:i, j F Y" }}</a>
  {% else %}
    <span>{{status.currcommit.date|date:"H:i, j F Y" }}</span>
  {% endif %}
  {% if status.currcommit.user %} 
    edited by <a href="{% url profiles_profile_detail status.currcommit.user.username %}" class="historyuser">
    {% if status.currcommit.user.get_profile.name %}{{status.currcommit.user.get_profile.name}}{% else %}{{status.currcommit.user.username}}{% endif %}
    </a>
  {% endif %}
  </li>

  {% if status.nextcommit %}
    {% ifnotequal status.nextcommit.editingsession status.currcommit.editingsession %}
      <li class="neweditingsession"><span>new enditing session</span></li>
    {% endifnotequal %}

    <li>
      <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.nextcommit.rev}}&otherrev={{status.currcommit.rev}}">{{status.nextcommit.date|date:"H:i, j F Y" }}</a>
      {% if status.nextcommit.user %} 
        edited by <a href="{% url profiles_profile_detail status.nextcommit.user.username %}" class="historyuser">
        {% if status.nextcommit.user.get_profile.name %}{{status.nextcommit.user.get_profile.name}}{% else %}{{status.nextcommit.user.username}}{% endif %}
        </a>
      {% endif %}
    </li>

  {% else %}
    <li><a href="{% url scraper_code scraper.wiki_type scraper.short_name %}">last saved version</a></li>
  {% endif %}

{% else %}

  {% if status.prevcommit %}
    <li><a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.prevcommit.rev}}">{{status.prevcommit.date|date:"H:i, j F Y" }}</a></li>
  {% endif %}

  <li class="current"><span>
  Saved: {{status.filemodifieddate|date:"H:i, j F Y" }}, 
  {% if status.ismodified %}
    (modified)
  {% else %}
    {% if status.prevcommit %}
      {% ifequal status.filemodifieddate status.prevcommit.date %}
        (same)
      {% else %}
        (timediff {{status.modifiedcommitdifference}})
      {% endifequal %}
    {% else %}
      (never committed)
    {% endif %}
  {% endif %}
  </span></li>

{% endif %}
</ul>

{% if matcheropcodes %}
<ul class="code_about">
    <li><a id="aHideEquals" class="edit">[hide equal lines]</a></li>
    <li><a id="aShowEquals" class="edit">[show equal lines]</a></li>
</ul>
{% endif %}

<div id="s_codepreviewer" class="codepreviewer"> 
  {% if othercode %}
    <div class="otherlinenumbers"></div> 
  {% endif %}
  <div class="linenumbers"></div> 
  <pre class="outputlines"></pre> 
</div>

<pre id="inputcode_main">{{ code }}</pre>
{% if othercode %}
  <pre id="inputcode_other">{{ othercode }}</pre>
{% endif %}

{% endblock %}

{% block run_script %}
    {{block.super}}

    $(document).ready(function() 
    {
    {% if matcheropcodes %}
        var matcheropcodes = {{matcheropcodes|safe}}; 
        var fequallines = highlightOtherCode($('#inputcode_main').text(), $('#inputcode_other').text(), matcheropcodes, Parser, $("#s_codepreviewer")); 
        if (fequallines < 5)
            $("a#aHideEquals").hide();  // suppress a link that isn't going to achieve anything
        else
            $("a#aHideEquals").click(); // start with it hidden by default
    {% else %}
        highlightCode($('#inputcode_main').text(), Parser, $("#s_codepreviewer")); 
    {% endif %}
    }); 

    $("a#aShowEquals").hide(); 
    $("a#aHideEquals").click(function() 
    {
        $('#codepreviewer .fequal').hide(); 
        $("a#aHideEquals").hide(); 
        $("a#aShowEquals").show(); 
    }); 
    $("a#aShowEquals").click(function() 
    {
        $("a#aHideEquals").show(); 
        $("a#aShowEquals").hide(); 
        $('#codepreviewer .fequal').show(); 
    }); 


{% endblock %}
