{% extends "codewiki/scraper_base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/codemirror.js"></script>

    {# codemirror includes #}
    <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/highlight.js" type="text/javascript"></script> 
    <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/stringstream.js" type="text/javascript"></script> 
    <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/tokenize.js" type="text/javascript"></script> 

    <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsedummy.js" type="text/javascript"></script> 
    {% ifequal scraper.language|lower 'python' %}
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}/contrib/python/js/parsepython.js" type="text/javascript"></script> 
    {% endifequal %}
    {% ifequal scraper.language|lower 'html' %}
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsexml.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsecss.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/tokenizejavascript.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsejavascript.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsehtmlmixed.js" type="text/javascript"></script> 
    {% endifequal %}
    {% ifequal scraper.language|lower 'php' %}
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsexml.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsecss.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/tokenizejavascript.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsejavascript.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}js/parsehtmlmixed.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}contrib/php/js/tokenizephp.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}contrib/php/js/parsephp.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}contrib/php/js/parsephphtmlmixed.js" type="text/javascript"></script> 
    {% endifequal %}
    {% ifequal scraper.language|lower 'ruby' %}
        <script src="{{ MEDIA_URL }}ruby-in-codemirror/js/tokenizeruby.js" type="text/javascript"></script> 
        <script src="{{ MEDIA_URL }}ruby-in-codemirror/js/parseruby.js" type="text/javascript"></script> 
    {% endifequal %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/codeviewer.js?{{settings.REVISION}}"></script>		
{% endblock %}

{% block css %}
    {% ifequal scraper.language|lower 'python' %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}contrib/python/css/pythoncolors.css"/> 
    {% endifequal %}
    {% ifequal scraper.language|lower 'html' %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}css/xmlcolors.css"/> 
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}css/jscolors.css"/> 
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}css/csscolors.css"/> 
    {% endifequal %}
    {% ifequal scraper.language|lower 'php' %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}css/xmlcolors.css"/> 
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}css/jscolors.css"/> 
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}css/csscolors.css"/> 
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}contrib/php/css/phpcolors.css"/> 
    {% endifequal %}
    {% ifequal scraper.language|lower 'ruby' %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}{{settings.CODEMIRROR_URL}}ruby-in-codemirror/css/rubycolors.css"/> 
    {% endifequal %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/codemirrorcolours.css"/> 
{% endblock %}


{% block tab %}
<div class="tab_tools">

{# viewing a revision #}
{% if status.currcommit %}
  Version from: <b>{{status.currcommit.date|date:"H:i, j F Y" }}</b>
  <i>({{status.currcommit.description}})</i>

  {% if status.prevcommit %}
    <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.prevcommit.rev}}">previous commit</a>
  {% endif %}

  {% if status.nextcommit %}
    <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.nextcommit.rev}}">next commit</a>
  {% else %}
    <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}">last saved version</a>
  {% endif %}


{# Viewing the current saved version #}
{% else %}
  Saved: {{status.filemodifieddate|date:"H:i, j F Y" }}, 
  {% if status.prevcommit %}
    Committed: <a href="{% url scraper_code scraper.wiki_type scraper.short_name %}?rev={{status.prevcommit.rev}}">{{status.prevcommit.date|date:"H:i, j F Y" }}</a>
    <i>({{status.prevcommit.description}})</i>
  {% endif %}
  
  {% if status.ismodified %}
    (modified)
  {% else %}
    {% if status.prevcommit %}
      {% ifequal status.filemodifieddate status.prevcommit.date %}
        (same)
      {% else %}
        (timediff {{status.modifiedcommitdifference}})
      {% endifequal %}
    {% else %}
      (never committed)
    {% endif %}
  {% endif %}

{% endif %}
</div>

<ul class="code_about">
    <li><a id="aHideEquals" class="edit">[hide equal lines]</a></li>
    <li><a id="aShowEquals" class="edit">[show equal lines]</a></li>
</ul>

<div id="codepreviewer"> 
  {% if othercode %}
    <div id="otherlinenumbers"></div> 
  {% endif %}
  <div id="linenumbers"></div> 
  <pre id="output"></pre> 
</div>

<pre id="inputcode_main">{{ code }}</pre>
{% if othercode %}
  <pre id="inputcode_other">{{ othercode }}</pre>
{% endif %}

{% endblock %}

{% block run_script %}
    {% ifequal scraper.language|lower 'python' %}
        var Parser = PythonParser; 
    {% endifequal %}
    {% ifequal scraper.language|lower 'html' %}
        var Parser = HTMLMixedParser; 
    {% endifequal %}
    {% ifequal scraper.language|lower 'php' %}
        var Parser = PHPHTMLMixedParser; 
    {% endifequal %}
    {% ifequal scraper.language|lower 'ruby' %}
        //var Parser = RubyParser; 
        var Parser = DummyParser; 
    {% endifequal %}

    $(document).ready(function() 
    {
    {% if matcheropcodes %}
        var matcheropcodes = {{matcheropcodes|safe}}; 
        highlightOtherCode($('#inputcode_main').text(), $('#inputcode_other').text(), matcheropcodes, Parser); 
    {% else %}
        highlightCode($('#inputcode_main').text(), Parser); 
    {% endif %}
    }); 

    $("a#aShowEquals").hide(); 
    $("a#aHideEquals").click(function() 
    {
        $('#codepreviewer .fequal').hide(); 
        $("a#aHideEquals").hide(); 
        $("a#aShowEquals").show(); 
    }); 
    $("a#aShowEquals").click(function() 
    {
        $("a#aHideEquals").show(); 
        $("a#aShowEquals").hide(); 
        $('#codepreviewer .fequal').show(); 
    }); 

{% endblock %}
