<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>{{ scraper.title }} | ScraperWiki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/editor.css" />
    {% comment %}
        Below needed for orbited, don't remove.  
        See http://orbited.org/wiki/Deployment#Cross-SubdomainDeployment 
        for more.
    {% endcomment %}
    <script>
        document.domain = document.domain;
    </script>

    <script src="http://{{ settings.ORBETED_DOMAIN }}:{{ settings.ORBETED_PORT }}/static/Orbited.js"></script>
    <script>Orbited.settings.streaming = false</script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js?{{settings.REVISION}}"></script>    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/json-min.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.htmlClean-min.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.json-2.2.min.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror/js/codemirror.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/editor.js?{{settings.REVISION}}"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.js"></script>    
</head>
<body>
    <form method="POST" accept-charset="utf-8" id="editor" action="">
        <fieldset>
            {# Hidden inputs for passing to js #}
            <input type="hidden" id="short_name" value="{{ scraper.short_name }}"/>
            <input type="hidden" id="scraper_guid" value="{{ scraper.guid }}"/>
            <input type="hidden" id="username" value="{{ user.username }}"/>
            <input type="hidden" id="userrealname" value="{{ user.get_profile.name }}"/>
            <input type="hidden" id="isstaff" value="{% if user.is_staff %}yes{% endif %}"/>
            <input type="hidden" id="scraperlanguage" value="{{ scraper.language|lower }}"/>
            <input type="hidden" id="codemirror_url" value="{{ MEDIA_URL }}CodeMirror/"/>
            <input type="hidden" id="viewrunurl" value="{% if scraper.short_name %}{% url view_fullscreen scraper.short_name %}{% endif %}"/>
            {{form.wiki_type}}
        </fieldset>
        <div class="editor">
            <div id="divDraftSavedWarning" class="draft_warning" style="display:none;">
                A temporary version of your scraper has been saved. To save it permanently you need to <a href="{% url login %}?next={% url handle_session_draft 'save' %}">sign in or create an account</a>.
            </div>
            <div class="draft_warning"{% if not has_draft %} style="display:none;"{% endif %}>
                Warning: this scraper has not been saved or committed. <a href="{% url login %}?next={% url handle_session_draft 'save' %}">Sign in or create an account</a> to save it permanently, or <a href="{% url delete_draft %}">discard changes</a>
            </div>

            {# Header #}
            <div class="editor_header">
                <div class="title">
                    <a id="aCloseEditor" href="{% url frontpage %}" title="Home">
                        <img src="{{ MEDIA_URL }}/images/editor_logo.png" width="39" height="25"/>
                    </a>
                    {{ form.title }}
                    <div class="page_tabs small">
                        {% if scraper.id %}
                            {% include 'codewiki/includes/tabs.html' %}
                        {% else %}
                            {% include 'codewiki/includes/cancel_button.html' %}
                        {% endif %}
                    </div>
                    <span id="border_hide"></span>
                </div>

            </div>

            {# Code editor #}
            <div class="editor_code" id="codeeditordiv">
                {{ form.code }}
            </div>

            {# Controls #}
            <div class="editor_controls">
                <a id="menu_tutorials" class="helplink" href="#" title="Load a helpful tutorial">Quick help</a>
                {% if 0 %}
                    <input type="button" value="Diff" name="diff" id="diff" title="View diff with the saved version (Ctrl + D)"/>
                {% endif %}

                <input type="button" class="execute button" value="Run" name="run" id="run" title="Run this {{ wiki_type }} (Ctrl + R)"/>
                {% ifequal scraper.wiki_type 'view' %}
                    <input type="button" class="button" value="Preview" name="preview" id="preview" title="Preview this view (Ctrl + P)"/>
                {% endifequal %}

                {% if scraper.id %}
                    <input type="checkbox" value="autosavecheck" name="autosavecheck" id="id_autosavecheck" {% if user.username %}checked{% endif %} />autosave
                {% endif %}

                {% ifequal scraper.wiki_type 'view' %}
                  <label for="id_urlquery" class="hide">Urlquery:</label>
                  <input id="id_urlquery" type="text" class="text" name="urlquery" title="URL query string passed to the view" /> 
                {% else %}
                  <input id="id_urlquery" type="hidden" class="text" name="urlquery" /> 
                {% endifequal %}

                <img id="running_annimation" src="{{ MEDIA_URL }}/images/running.gif"/>
            
                <div class="right">
                    <ul class="code_about">
                        <li class="codewiki_type {{scraper.wiki_type|lower}}">{{scraper.wiki_type|lower}}</li>
              	        <li class="language {{scraper.language|lower}}">{{scraper.language|lower}}</li>
                        {# the php/html mixed parser appears good enough to handle all of this without a mode switch! #}
                        {% if 0 %}   
                          {% ifequal scraper.language 'PHP' %}
                            <li><tiny><a href="#" id="togglelanguage" style="background:orange">toggle HTML</a></tiny></li>
                          {% endifequal %}
                        {% endif %}
                    </ul>
                    {% if scraper.id %}
                        <a id="aCloseEditor1" href="{% url code_overview scraper.wiki_type scraper.short_name %}">close editor</a>
                    {% else %}
                        <a id="aCloseEditor1" href="{% url frontpage %}">close editor</a>
                    {% endif %}
                    <input type="button" id="btnCommitPopup" class="commit button" name="action" value="Save {% ifequal scraper.wiki_type 'scraper' %}{{scraper.wiki_type}}{% endifequal %}" title="Save this scraper (Ctrl + S)"/>
                </div>
            </div>

            {# Consoles #}
            <div id="outputeditordiv" class="editor_output">
                <div class="tabs">
                    <ul>
                        <li class="console">
                            <a href="#" title="Console output from scraper">Console</a>
                        </li>
                        <li class="data">
                            <a href="#" title="The data that this scraper generates">Data</a>                            
                        </li>
                        <li class="sources">
                            <a href="#" title="Pages you are scraping">Sources</a>                            
                        </li>
                        <li class="chat{% if not user.is_staff %} chathidden{% endif %}">
                            <a href="#" title="Communicate to others">Chat</a>                            
                        </li>
                    </ul>
                    <div class="right" id="editorstatus">
                    <span>---</span> {# this text gets deleted when javascript working properly #}
                    </div>
                </div>
                <div class="info">
                    <div id="output_console" class="output">
                        <div class="output_content"></div>
                    </div>
                    <div id="output_data" class="output">
                        <table class="output_content">
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="output_sources" class="output">
                        <div class="output_content"></div>
                    </div>
                    <div id="output_chat" class="output">
                        <table class="output_content">
                            <tbody></tbody>
                        </table>
                        <input type="text" name="chat_line" value="" id="chat_line"/>
                    </div>
                </div>
            </div>
      </div>
  
      <div id="feedback_messages">
      </div>

      <div id="popup_tutorials" class="quickhelp">
        <h3>
            <img src="{{MEDIA_URL}}/images/icons/{{ scraper.language }}.png"/>
            {% ifequal scraper.language 'php'%}
                PHP
            {% endifequal %}
            {% ifequal scraper.language 'ruby'%}
                Ruby
            {% endifequal %}
            {% ifequal scraper.language 'python'%}
                Python
            {% endifequal %}
            {{scraper.wiki_type}}
            - quick help
        </h3>
        <p>
            <a href="{% url help %}" target="_blank">View full documentation (new window)</a> or try a <a href="{% url help_tutorials %}" title="Tutorials">tutorial (new window)</a>
        </p>
            {% include quick_help_template %}
      </div>

    </form>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-321882-15");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</body>
</html>
