{% extends "codewiki/scraper_base.html" %}

{% load humanize %}
{% load month_name %}
{% load gravatar %}
{% block tab %}

{% block javascript %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/json-min.js"></script>

  {% with scraper.language|lower as language %}
    {% include 'codewiki/includes/codemirror_parsers.html' %}
  {% endwith %}

  <script type="text/javascript" src="{{ MEDIA_URL }}js/codeviewer.js?{{settings.REVISION}}"></script>  {# highlightCode(code, Parser), highlightOtherCode(greencode, redcode, matcheropcodes, Parser) #}
{% endblock %}

<p class="history_bold">Scheduled runs and edits to <span>"{{scraper.title}}"</span>.</p>

<input type="hidden" id="rawcodeurl" value="{% url raw scraper.short_name %}"/>
<input type="hidden" id="diffsequrl" value="{% url diffseq scraper.short_name %}"/>
<input type="hidden" id="run_event_json" value="{% url run_event_json 'XXX' %}"/>

{% regroup itemlog by datetime.year as itemlogyear_list%}
{% for itemlogyear in itemlogyear_list %}

  {% regroup itemlogyear.list by datetime.month as itemlogmonth_list %}
  {% for itemlogmonth in itemlogmonth_list %}

    <div class="history_month">
    <b>{{itemlogmonth.grouper|month_name}} {{itemlogyear.grouper}}</b>
  
    {% regroup itemlogmonth.list by groupkey as itemloggroup_list %}
    {% for itemloggroup in itemloggroup_list %}

      {% with itemloggroup.list|first as itemfirst %}
      {% with itemloggroup.list|last as itemlast %}

      {% ifequal itemfirst.type 'commit' %}
      <div class="history_edit">

          {% show_gravatar itemfirst.user 'small' %}Edited by 
          <a href="{% if item.user.username %}{% url profiles_profile_detail itemfirst.user.username %}{% endif %}" class="historyuser">
            {% if itemfirst.user.get_profile.name %}{{itemfirst.user.get_profile.name}}{% else %}{{itemfirst.user.username}}{% endif %}
          </a>
          {% ifnotequal itemloggroup.list|length 1 %}
            {{itemloggroup.list|length}} times
          {% endifnotequal %}
          <span class="history_date">{{ itemfirst.datetime|date:"H:i, j F Y" }}</span>
          <div class="history_view_changes">
           <span class="aprevB">
             <a class="hideequal">[Hide equal]</a>
             <a class="showequal">[Show equal]</a>
             <a class="hidechanges">Hide Changes</a>
           </span>
           <span class="aprev">
             <a class="showchanges">Show changes</a>
           </span>
           <span class="rev">{{itemfirst.rev}}</span>|<span class="prevrev">{{itemlast.prevrev}}</span>
          </div>

          <div class="codepreviewer"> 
            <h4 class="cprev">Difference between, revision <span class="shrev"></span> and previous revision <span class="shprevrev"></span></h4>
            <div class="history_code_border">
              <div class="otherlinenumbers"></div> 
              <div class="linenumbers"></div> 
              <pre class="outputlines"></pre> 
            </div>
          </div>

      </div>
      {% else %} 
      <div class="history_run_event">

        {% if itemfirst.runevent.exception_message %}
        <div class="history_ran_fail">
          Run failed:
          <span class="historyexception">{{itemfirst.runevent.exception_message}}</span> - ran for {{itemfirst.durationseconds}} seconds
              ({{itemfirst.runevent.pages_scraped}} scraped pages, {{itemfirst.runevent.records_produced}} records)

        {% else %}{% if itemfirst.runevent.run_ended %}
        <div class="history_ran">
          Run suceeded:
          - ran {{itemloggroup|length}} times, most recently for {{itemfirst.durationseconds}} seconds
          ({{itemfirst.runevent.pages_scraped}} scraped pages, {{itemfirst.runevent.records_produced}} records)
          <span class="history_date">{{ itemfirst.datetime|date:"H:i, j F Y" }}</span>

        {% else %}
        <div class="history_ran_notfinished">
          <span class="history_bold">Still running</span> 
          {{itemfirst.runevent.run_started|timesince}} ago (<small>{{itemfirst.runevent.run_started}}</small>)

        {% endif %}{% endif %}
          <div class="history_view_changes">
            <a class="hiderunevent">Hide Details</a>
            <a class="showrunevent">Show Details</a>
            <span class="hide runid">{% if itemfirst.runevent.run_id %}{{itemfirst.runevent.run_id}}{% else %}{{itemfirst.runevent.id}}{% endif %}</span>
          </div>

          <div class="runpreviewer">
            <pre class="runpreview"></pre>
          </div>
        </div>

      </div>
      {% endifequal %}

      {% endwith %}
      {% endwith %}
    {% endfor %} {# group #}
    </div> {# history_month #}
  {% endfor %} {# month #}
{% endfor %} {# year #}



{% endblock %}


{% block run_script_outer %}
<script type="text/javascript" defer="defer">

var coderevisions = { }; // cached code of different versions
function fetchrevision(rev, callback)
{
    if (rev && coderevisions[rev] == undefined)
    {
        $.ajax({url:$("#rawcodeurl").val()+"?rev="+rev, success: function(sdata) 
        {
            coderevisions[rev] = sdata; 
            callback(); 
        }}); 
    }
    else
        callback(); 
}

function previewchanges_hideequal(block)
{
    block.find('.codepreviewer .fequal').hide(); 
    block.find(".aprevB .hideequal").hide(); 
    block.find(".aprevB .showequal").show(); 
}

function previewchanges_showequal(block)
{
    block.find('.codepreviewer .fequal').show(); 
    block.find(".aprevB .hideequal").show(); 
    block.find(".aprevB .showequal").hide(); 
}

function previewchanges_hide(block)
{
    var codepreviewerdiv = block.find(".codepreviewer");
    codepreviewerdiv.hide(); 
    block.find(".aprevB").hide(); 
    block.find(".aprev").show(); 
}

function previewchanges_show(block)
{
    hideallshowhistrun(); 

    block.find(".aprev").hide(); 
    block.find(".aprevB").show(); 

    var rev = block.find("span.rev").text();  
    var prevrev = block.find("span.prevrev").text();  

    var fequallines; 
    fetchrevision(rev, function() { fetchrevision(prevrev, function() 
    {
        var codepreviewerdiv = block.find(".codepreviewer");
        codepreviewerdiv.find(".cprev span.shrev").text(rev);  // could allow for sub-inspection of series
        codepreviewerdiv.find(".cprev span.shprevrev").text(prevrev); 

        if (prevrev)
        {
            $.ajax({url:$("#diffsequrl").val()+"?rev="+rev+"&otherrev="+prevrev, success: function(sdata) 
            {
                var matcheropcodes = $.evalJSON(sdata); // [ ("replace|delete|insert|equal", i1, i2, j1, j2) ]
                fequallines = highlightOtherCode(coderevisions[rev], coderevisions[prevrev], matcheropcodes, Parser, codepreviewerdiv); 
            }}); 
        }
        else
            highlightCode(coderevisions[rev], Parser, codepreviewerdiv); 

        codepreviewerdiv.show(0, function()
        {
            if (fequallines > 5); 
                previewchanges_hideequal(block); 
        }); 
    })}); 
}


var runevents = { }; // cached values from different run events
function fetchrunevent(runid, callback)
{
    if (runevents[runid] == undefined)
    {
        $.ajax({url:$("#run_event_json").val().replace('XXX', runid), success: function(sdata) 
        {
            runevents[runid] = $.evalJSON(sdata); 
            callback(); 
        }}); 
    }
    else
        callback(); 
}

function previewrunevent_show(block)
{
    hideallshowhistrun(); 

    block.find(".showrunevent").hide(); 
    block.find(".hiderunevent").show(); 

    var runid = block.find("span.runid").text();  
    fetchrunevent(runid, function() 
    { 
        block.find(".runpreview").text(runevents[runid].output); 
        block.find(".runpreviewer").show(); 
    }); 
}

function previewrunevent_hide(block)
{
    block.find(".runpreviewer").hide(); 
    block.find(".showrunevent").show(); 
    block.find(".hiderunevent").hide(); 
}

function hideallshowhistrun()
{
    $(".history_edit").each(function(i, el) { previewchanges_hide($(el)) });
    $(".history_run_event").each(function(i, el) { previewrunevent_hide($(el)) });
}

$(document).ready(function() 
{ 
    $(".cprev").hide();     // hide these ugly titles for now
    hideallshowhistrun(); 

    $(".history_edit").each(function(i, el) { previewchanges_hide($(el)) });
    $(".history_edit .showchanges").click(function() { previewchanges_show($(this).parents(".history_edit")); }); 
    $(".history_edit .hidechanges").click(function() { previewchanges_hide($(this).parents(".history_edit")); }); 
    $(".history_edit .hideequal").click(function() { previewchanges_hideequal($(this).parents(".history_edit")); }); 
    $(".history_edit .showequal").click(function() { previewchanges_showequal($(this).parents(".history_edit")); }); 


    $(".history_run_event .showrunevent").click(function() { previewrunevent_show($(this).parents(".history_run_event")); }); 
    $(".history_run_event .hiderunevent").click(function() { previewrunevent_hide($(this).parents(".history_run_event")); }); 
}); 

</script>
{% endblock %}
