{% extends "codewiki/scraper_base.html" %}
{% load humanize %}
{% block tab %}


<table>
  {% for item in itemlog %}
  <tr>
    {% ifequal item.type 'commit' %}
    <td colspan="2">
      <a href="{% url scraper_code scraper.wiki_type  scraper.short_name %}?rev={{item.rev}}" class="historysave"> {{ item.datetime|date:"H:i, j F Y" }}</a>
      - edited by 
      <a href="{% url profiles_profile_detail item.user.username %}" class="historyuser">
        {% if item.user.get_profile.name %}{{item.user.get_profile.name}}{% else %}{{item.user.username}}{% endif %}
      </a>
      {% ifnotequal item.revcount 1 %}
        {{item.revcount}} times in {{item.durationminutes}} minutes
      {% endifnotequal %}
    </td>

    {% else %} {# runevent #}
    <td colspan="2">
      <a href="{% if item.runevent.run_id %}{% url run_event item.runevents.0.run_id %}{% endif %}" class="historyrun">{{item.runevents.0.run_started|date:"H:i, j F Y" }}</a>
      {% if item.runevent.run_ended %}
        {% ifequal item.runevents|length 1 %}
          - ran for {{item.durationseconds}} seconds
          ({{item.runevent.pages_scraped}} scraped pages, {{item.runevent.records_produced}} records)
        {% else %}
          - {{item.runevents|length}} times until <a href="{% url run_event item.runevent.run_id %}" class="historyrun">{{item.runevent.run_started|date:"j F Y" }}</a>
          average run of {{item.durationseconds}} seconds 
        {% endifequal %}
      {% else %}
        <b>Still running</b>
      {% endif %}

      {% if item.runevent.exception_message %}
        <a href="{% url run_event item.runevent.run_id %}"><span class="historyexception">{{item.runevent.exception_message}}</span></a>
      {% endif %}
    </td>
  {% endifequal %}
  </tr>

  {% endfor %}
</table>

{% endblock %}

{% block run_script %}
{% endblock %}
