
{% extends "frontend/base.html" %}

{% block title %}Browse datasets{% endblock %}
{% block rss %}<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/all_scrapers/" />{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Browse datasets</h1>
        <p>
            Browse all the datasets and scrapers contained in ScraperWiki
        </p>
        <div class="page_controls">
            <form action="/scrapers/search/" method="post">
                {{ form.q.label_tag }}
                {{ form.q }}
                <input type="submit" value="Go" />
            </form>
            <br/>
            <a href="/feeds/all_scrapers/">RSS feed of all scrapers</a>            
        </div>
    </div>

    <div class="content">
      {% if featured_scrapers %}
      <table class="bicolumn">
        <tr><td class="bicolumn">
      {% endif %}
        <ul class="scraper_list">
          {% for scraper in scrapers.object_list %}
            {% include 'frontend/scraper_line.html' %}
          {% endfor %}
        </ul>
      {% if featured_scrapers %}
        </td>
        <td class="bicolumn">
          <h3>Featured scrapers</h3>
          <ul>
          {% for scraper in featured_scrapers %}
            <li>
            <a href="{% url scraper_overview scraper.short_name %}">
              {% if scraper.title %}{{ scraper.title }}{% else %}{{ scraper.short_name }}{% endif %}
            </a>
            </li>
          {% endfor %}
          </ul>
        </td></tr>
      </table>
      {% endif %}

        <div class="pagination">
        <span class="step_links">
            {% if scrapers.has_previous %}
                <a href="{% url scraper_list scrapers.previous_page_number %}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ scrapers.number }} of {{ scrapers.paginator.num_pages }}
            </span>
    
            {% if scrapers.has_next %}
                <a href="{% url scraper_list scrapers.next_page_number %}">next</a>
            {% endif %}
        </span>
        </div>

    </div>
{% endblock %}