{% extends "frontend/base.html" %}

{% block title %}{{ scraper.title }}{% endblock %}
{% block rss %}<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/code_object_comments/{{ scraper.short_name }}" />{% endblock %}

{% block tabs %}
    {% include 'codewiki/includes/tabs.html' %}
{% endblock %}
{% block content %}
    <div class="page_title">
	    <h1 id="hCodeTitle">{{ scraper.title }} - run event</h1>
    </div>
    <div class="content full">
        <div class="page_tab_body">
                    
        <p><b>Run Started:</b> {{event.run_started|timesince}} ago (<small>{{event.run_started}}</small>)</p>
        {% if status %}
          <p>
          <form action="{% url scraper_killrunning event.run_id event.id %}" method="post">
            Still running {{status.runtime|floatformat}} seconds.  

            {% if user_owns_it %}
              <input type="submit" id="btnKillRun" class="danger" value="Kill running scraper" />
            {% else %}
              {% if user.is_staff %}
                <input type="submit" id="btnKillRun" class="staff" value="Kill running scraper" />
                pid={{event.pid}}
              {% else %}
                <input type="submit" id="btnKillRun" disabled value="Kill running scraper" />
              {% endif %}
            {% endif %}
            <input type="hidden" id="hidKillRun" name="killrun" value="1" />

          </form>
          <b>Last updated:</b> {{event.run_ended|timesince}} ago (<small>{{event.run_ended}}</small>)
          </p>
        {% else %}
          <b>Run finished:</b> {{event.run_ended|timesince}} ago (<small>{{event.run_ended}}</small>)
        {% endif %}
        <p><b>Records produced:</b> {{event.records_produced}}; <b>Pages scraped:</b> {{event.pages_scraped}}</p>

        <textarea style="width:100%; height:20em">
            {{event.output}}
        </textarea>

        </div>
        <p class="report">
            <strong>Important</strong> If you suspect this scraper breaks our <a href="/terms_and_conditions/">Terms &amp; Conditions</a>, please <a href="/contact/">report it</a>
        </p>
    </div>
{% endblock %}

