{% extends "frontend/base.html" %}

{% block title %}{{ tag }}{% endblock %}
{% block rss %}<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/latest_code_objects_by_tag/{{ tag|title }}" />{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Scrapers tagged "{{ tag|title }}"</h1>
        <p>
            Browsing by tag: <strong>{{ tag|title }}</strong>
            <span style="float: right"><a href="/feeds/latest_code_objects_by_tag/{{ tag|title }}">RSS feed for this tag</a></span>
        </p>
    </div>
    <div class="content">
        <ul class="allscraperlist">
        {% for scraper in queryset %}
            {% include 'frontend/code_object_line.html' %}
    	{% endfor %}
        </ul>
    </div>
{% endblock %}
