{% extends "codewiki/scraper_base.html" %}
{% load humanize %}
{% load markup %}
{% block tab %}
{% load screen_shot %}

    <div class="content full">
    {% if htmlcode %}
        {{htmlcode|safe}}
    {% else %}
        <div class="screenshot_large">
          <a href="{% url view_fullscreen scraper.short_name %}">
              <span>Click to open this view</span>
          </a>
          {% screen_shot scraper 'large' %}
       </div>
    {% endif %}
    </div>

    <div class="content full">
        <h2>About this view {% if user.is_authenticated %}<a href="#" id="aEditAboutScraper" class="edit">[edit description]</a>{% else %}<a href="{% url login %}?next={% url code_overview 'view' scraper.short_name %}" class="edit">[sign in to edit description]</a>{% endif %}</h2>        
        <div class="text_wiki">
            <div id="divAboutScraper">{{ scraper.description|textile }}</div>
        </div>
    </div>

<div id="divScraperTags" class="content full">
    <h2>Tags {% if user.is_authenticated %}<a href="#" id="aEditTags" class="edit">[edit tags]</a>{% else %}<a href="{% url login %}?next={% url code_overview 'scraper' scraper.short_name %}" class="edit">[sign in to add a tag]</a>{% endif %}</h2>
    <ul class="tags">
        {% for tag in scraper_tags %}
            <li><a href="{% url single_tag tag %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% if not scraper_tags %}
        <p>
            Adding tags make sense of all the datasets on ScraperWiki
        </p>
    {% endif %}
    <label id="labelEditTags" for="divEditTags">Comma separated list of tags:</label><div id="divEditTags"></div>
</div>

    <div class="content col left">
        <h3>Contributors</h3>
        {% include 'codewiki/includes/contributors.html' %}
    </div>
        <div class="content col right">
            {% if related_scrapers %}            
                <h3>Scrapers used in the making of this view</h3>
                <ul>
                    {% for related_scraper in related_scrapers %}
                        <a href="{% url code_overview related_scraper.wiki_type related_scraper.short_name %}">{{related_scraper.title}}</a>
                    {% endfor %}
                </ul>
            {% endif %}
            <h3>Delete &amp; reset</h3>
             {% if user_owns_it %}    
                 <form action="{% url scraper_delete_scraper 'view' scraper.short_name %}" method="post">
                     <input type="hidden" name="delete_scraper" value="1" />
                     <input type="submit" id="btnDeleteScraper" class="danger" value="Delete this view?" />
                     <p>Deletes this view. There is no undo.</p>
                 </form>
             {% else %}
                 <p class="infobox">Only the creator of a view can delete it.</p>
             {% endif %}
             {% if user.is_staff %}
                 <p class="staff"><b>Go to scraper on <a href="/admin/codewiki/view/{{scraper.pk}}/">admin page</a></b></p>

                 <form action="{% url scraper_screenshoot_scraper scraper.wiki_type scraper.short_name %}" method="post" class="staff">
                     <input type="hidden" name="screenshoot_scraper" value="1" />
                     <input type="submit" id="btnScreenshootScraper" class="danger" value="Screenshoot this view?" />
                     <p>Take a screenshot of this view. (Staff only)</p>
                 </form>
             {% endif %}
        </div>
    <br class="clear"/>    
    <div class="content full">
      <a name="embed"></a>
      <h3>Add this view to your site</h3>
      <code>
      {% filter force_escape|linebreaksbr %}
        <div>
          <iframe width="100%" height="400px" src="http://{{settings.VIEW_DOMAIN}}{% url rpcexecute scraper.short_name %}"></iframe>
          <img src="http://scraperwiki.com/media/images/powered.png" alt="Powered by ScraperWiki.com" />
        </div>
      {% endfilter %}
      </code>
    </div>
    <br class="clear"/>  
{% endblock %}
{% block run_script %}
    {{block.super}}

    {% if user.is_authenticated %}
        setupButtonConfirmation("btnDeleteScraper", "Are you absolutely sure? THERE IS NO UNDO, clicking 'ok' will delete this view.");
    {% endif %}
{% endblock %}
