{% extends "codewiki/scraper_base.html" %}
{% load humanize %}

{% block tab %}
    <iframe class="view" width="100%" height="400px" src="{% url rpcexecute scraper.short_name %}">
        
    </iframe>
    {% if related_scrapers %}    
        <div class="content col left">
            <h2>Scrapers used in the making of this view</h2>
            <ul>
                {% for related_scraper in related_scrapers %}
                    <a href="{% url scraper_overview related_scraper.short_name %}">{{related_scraper.title}}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="content col right">
            {% include 'codewiki/includes/contributors.html' %}
        </div>
        <br class="clear"/>
    {% endif %}
{% endblock %}