{% extends "frontend/base.html" %}
{% load formhelper %}

{% block title %}{{solicitation.title}} | Requested scrapers{% endblock %}

{% block content %}
<div class="content">
    <div class="attention">
        <h1><em>"{{solicitation.title}}"</em> has been written</h1>
        <p>
            <a href="{% url scraper_data scraper.short_name %}">Click here to see the scraper</a>
        </p>
        {% if solicitation.has_bounty %}
            {% if use_sandbox %}
                {{ form.sandbox }}
            {% else %}
                {{ form.render }}
            {% endif %}            
        {% else %}
            <form action="" method="post">
              {{form}}
              <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
