{% extends "frontend/base.html" %}
{% load comments %}
{% load gravatar %}

{% block title %}{{solicitation.title}} | Requested scrapers{% endblock %}

{% block content %}
<div class="page_title">
    <h1>{{solicitation.title}}</h1>
    <p>
        Requested scraper
    </p>
</div>
<div class="content col left">
    <h3>{{solicitation.title}} {% if solicitation.has_bounty %}<span class="bounty">&pound;{{solicitation.price}} bounty</span>{% endif %}</h3>
    <h4>Added by {{solicitation.user_created.username}} ({{solicitation.status.display_name}})</h4>
    <p>{{solicitation.details}}</p>
    <p>Link: <a href="{{solicitation.link}}">{{solicitation.link|urlizetrunc:30}}</a></p>    
</div>
<div class="content col right">
    {% ifequal solicitation.status.status 'open' %}
    <form action="{% url market_claim solicitation.id %}" method="get">
        <input type="submit" value="I've written this"/>
    </form>
    {% else %}
        {% ifequal solicitation.status.status 'pending' %}
            This suggestion has been claimed by <a href="{% url profiles_profile_detail solicitation.scraper.owner.username %}">{{solicitation.scraper.owner.username}}</a> and is being reviewed by <a href="{% url profiles_profile_detail solicitation.user_created.username %}">{{solicitation.user_created.username}}</a>.
        {% else %}
            This suggestion turned into a scraper by <a href="{% url profiles_profile_detail solicitation.scraper.owner.username %}">{{solicitation.scraper.owner.username}}</a>!
        {% endifequal %}
    {% endifequal %}
    <ul>
        <a href="{% url market_solicitation %}">Request a scraper</a>
    </ul>
    <h4>More suggestions</h4>
    <ul>
    {% for solicitation in recent_solicitations %}
        <li>
    	    <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>
    	</li>
	{% endfor %}
    </ul>
</div>

{% if user.is_authenticated %}
 
{% get_comment_form for solicitation as form %}
<p>Add a comment or question about this request:</p>

<form action="{% comment_form_target %}" method="POST"> 
<table cellspacing="5"><tr><td valign="center" align="left">
   {% show_gravatar user 'medium' %} 
   </td>
   <td width="90%" valign="center" align="left">
	<textarea name="comment" id="id_comment" rows="2" style="width: 100%;"></textarea>
	{{ form.content_type }} 
	{{ form.object_pk }} 
	{{ form.timestamp }} 
	{{ form.security_hash }} 
	<!-- {{ form.honeypot }} -->
    <input type="hidden" name="next" value="{% url market_view solicitation.id %}" />
    </td>
    <td valign="center" align="center">
	<input type="submit" value="Add" id="id_submit" /> 
	</td>
	</tr>
</table>
</form> 
{% else %}
    <p>Please <a href="/login/?next={{ request.get_full_path }}">log in</a> to add a comment.</p>
{% endif %}


{% get_comment_list for solicitation as comment_list %}

{% if comment_list %}
<br/>
  {% for comment in comment_list reversed %} 
  {% show_gravatar comment.user 'small' %} 
    <em><a href="{% url profiles_profile_detail comment.name %}">{{ comment.name|escape }}</a> at {{ comment.submit_date|date:"r" }}</em>
    <link rel="#{{ comment.id }}">&nbsp;</link>
    <p>{{ comment.comment|escape|urlizetrunc:"100"|linebreaks }}</p>
    <hr> 
 {% endfor %} 
{% endif %}


<br/>

{% endblock %}