{% extends "frontend/base.html" %}
{% load comments %}
{% load gravatar %}

{% block title %}{{solicitation.title}} | Requested scrapers{% endblock %}

{% block tabs %}
    {% include 'market/includes/tabs.html' %}
{% endblock %}

{% block content %}
<div class="page_title">
    <h1>{{solicitation.title}}{% if solicitation.has_bounty %}<span class="bounty">&pound;{{solicitation.price}} bounty</span>{% endif %}</h1>
    <p>
        Scraper requested by {% show_gravatar solicitation.user_created 'small' %} <a href="{% url profiles_profile_detail solicitation.user_created.username %}">{{solicitation.user_created.get_profile.name}}</a>
    </p>
    <ul class="title_links">
        {% ifequal solicitation.status.status 'open' %}
            <li>
                <form action="{% url market_claim solicitation.id %}" method="get">
                    <input type="submit" value="I've written this scraper"/>
                </form>
            </li>
        {% endifequal %}
    </ul>
</div>
{% ifequal solicitation.status.status 'open' %}
{% else %}
    {% ifequal solicitation.status.status 'open' %}
        <div class="infobox">
        {% ifequal solicitation.status.status 'pending' %}
            <li>This suggestion has been claimed by <a href="{% url profiles_profile_detail solicitation.scraper.owner.username %}">{{solicitation.scraper.owner.get_profile.name}}</a> and is being reviewed by <a href="{% url profiles_profile_detail solicitation.user_created.username %}">{{solicitation.user_created.get_profile.name}}</a>.</li>
            <p>The suggested scraper is: <a href="{% url scraper_overview solicitation.scraper.short_name %}">{{solicitation.scraper.title}}</a></p>
            {% ifequal solicitation.user_created user %}
                {% ifequal solicitation.price 0 %}
                  <p>You own this request. When you are happy with the scraper go <a href="{% url market_complete solicitation.id %}">here</a> to accept it</p>
                {% else %}
                  <p>You own this request. When you are happy with the scraper go <a href="{% url market_complete solicitation.id %}">here</a> to pay for it</p>
                {% endifequal %}
            {% endifequal %}
        {% else %}
            <p>This suggestion has been turned into a scraper by <a href="{% url profiles_profile_detail solicitation.scraper.owner.username %}">{{solicitation.scraper.owner.get_profile.name}}</a>!</p>
            <p>The successful scraper is: <a href="{% url scraper_overview solicitation.scraper.short_name %}">{{solicitation.scraper.title}}</a></p>
        {% endifequal %}
        </div>
    {% endifequal %}
{% endifequal %}    
<div class="content full">
    {% block tab %}
    {% endblock %}    
</div>
{% endblock %}
