{% extends "frontend/base.html" %}

{% block title %}{{solicitation.title}} | Suggested scrapers{% endblock %}

{% block content %}
<div class="page_title">
    <h1>{{solicitation.title}}</h1>
    <p>
        Suggested scraper
    </p>
</div>
<div class="content col left">
    <h3>{{solicitation.title}} {% if solicitation.has_bounty %}<span class="bounty">&pound;{{solicitation.price}} bounty</span>{% endif %}</h3>
    <h4>Added by {{solicitation.user_created.username}} ({{solicitation.status.display_name}})</h4>
    <p>{{solicitation.details}}</p>
    <p>Link: <a href="{{solicitation.link}}">{{solicitation.link|urlizetrunc:30}}</a></p>    
</div>
<div class="content col right">
    {% ifequal solicitation.status.status 'open' %}
    <form action="{% url market_claim solicitation.id %}" method="get">
        <input type="submit" value="I've written this"/>
    </form>
    {% else %}
        {% ifequal solicitation.status.status 'pending' %}
            This suggestion has been claimed by <a href="{% url profiles_profile_detail solicitation.scraper.owner.username %}">{{solicitation.scraper.owner.username}}</a> and is being reviewed by <a href="{% url profiles_profile_detail solicitation.user_created.username %}">{{solicitation.user_created.username}}</a>.
        {% else %}
            This suggestion turned into a scraper by <a href="{% url profiles_profile_detail solicitation.scraper.owner.username %}">{{solicitation.scraper.owner.username}}</a>!
        {% endifequal %}
    {% endifequal %}
    <ul>
        <a href="{% url market_solicitation %}">Suggest a scraper</a>
    </ul>
    <h4>More suggestions</h4>
    <ul>
    {% for solicitation in recent_solicitations %}
        <li>
    	    <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>
    	</li>
	{% endfor %}
    </ul>
</div>
{% endblock %}