{% extends "frontend/base.html" %}

{% block title %}Suggested scrapers{% endblock %}

{% block content %}
<div class="page_title">
    <h1>ScraperMart - {{status.display_name}}</h1>
    <p>
        Datasets people have suggested scraping
    </p>
    <ul class="filter_list">
        <li><a href="{% url market_list %}">Open</a></li>
        <li><a href="{% url market_list_filter 'pending' %}">Pending</a></li>
        <li><a href="{% url market_list_filter 'completed' %}">Completed</a></li>
    </ul>
</div>
<div class="content">
    <ul>
    {% for solicitation in solicitations %}
        <li>
    	    <h3>
    	        <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>{% if solicitation.has_bounty %} <span class="bounty"><a href="{% url market_view solicitation.id %}">&pound;{{solicitation.price}} bounty</a></span>{% endif %}
    	    </h3>
    	    <h4>Added by {{solicitation.user_created.username}} ({{solicitation.status.display_name}})</h4>
    	    <p>{{solicitation.details}}</p>
    	</li>
	{% endfor %}
    </ul>
</div>

{% endblock %}