{% extends "frontend/base.html" %}
{% load formhelper %}

{% block title %}Scraperwiki front page{% endblock %}

{% block errors %}
    {% if form.errors %}
        <ul>
            {% form_errors form %}
        </ul>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Request a scraper</h1>
        <p>
            If you know of an interesting source of data for someone to scrape, please add it here
        </p>
    </div>
    <div class="content col left">
    	<form method="post" action=".">
    	    <ul class="form">
    	        <li class="{% if form.title.errors %}error{% endif %}">
            	    {{ form.title.label_tag }}
            	    {{ form.title }}
        	        {% field_errors form.title %}
    	        </li>
    	        <li class="{% if form.link.errors %}error{% endif %}">
            	    {{ form.link.label_tag }}
            	    {{ form.link }}
        	        {% field_errors form.link %}
    	        </li>
    	        <li class="{% if form.details.errors %}error{% endif %}">
            	    {{ form.details.label_tag }}
            	    {{ form.details }}
        	        {% field_errors form.details %}
    	        </li>
    	        <li class="{% if form.price.errors %}error{% endif %}">
            	    {{ form.price.label_tag }}
            	    {{ form.price|safe}}<small>&dagger;</small>
        	        {% field_errors form.price %}
    	        </li>
            </ul>
            <p>
<small>* Required field</small><br/>
                <small>&dagger; When you pay the bounty for this scraper there is an additional charge of {{ market_bounty_charge }}%</small>
            </p>
    		<input type="submit" name="login" value="Submit" />
    	</form>
    </div>

    <div class="content col right">
        &nbsp;
    </div>
{% endblock %}