{% extends "frontend/base.html" %}
{% load formhelper %}
{% load gravatar %}

{% block title %}Request a dataset{% endblock %}

{% block errors %}
    {% if form.errors %}
        <ul>
            {% form_errors form %}
        </ul>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Request a dataset</h1>
        <p>
             Ask the community or ScraperWiki to scrape data
        </p>
    </div>
    <div class="content col left">
	<h2>Ask the community</h2>
	<p>If you've found some interesting data, or you want something specific scraped, add it here. If you're willing to pay, set a bounty</p>
    	<form method="post" action="." onSubmit="javascript:pageTracker._trackPageview('/analytics/market_request');" >
    	    <ul class="form">
    	        <li class="{% if form.title.errors %}error{% endif %}">
            	    {{ form.title.label_tag }}
            	    {{ form.title }}
        	        {% field_errors form.title %}
    	        </li>
    	        <li class="{% if form.link.errors %}error{% endif %}">
            	    {{ form.link.label_tag }}
            	    {{ form.link }}
        	        {% field_errors form.link %}
    	        </li>
    	        <li class="{% if form.details.errors %}error{% endif %}">
            	    {{ form.details.label_tag }}
            	    {{ form.details }}
        	        {% field_errors form.details %}
    	        </li>
    	        <li class="{% if form.tags.errors %}error{% endif %}">
            	    {{ form.tags.label_tag }}
            	    {{ form.tags }}
        	        {% field_errors form.tags %}
        	        <small class="hint taghint">e.g. europe<em>,</em> grants<em>,</em> transport</small>
    	        </li>
    	        <li class="{% if form.price.errors %}error{% endif %}">
            	    {{ form.price.label_tag }}
            	    {{ form.price|safe}}<small>&dagger; (<a href="{% url help %}">what's this?</a>)</small>    
        	        {% field_errors form.price %}
    	        </li>
            </ul>
            <p>
<small>* Required field</small><br/>
                <small>&dagger; For non-zero bounties an additional charge of {{ market_bounty_charge }}% will be added</small>
            </p>
    		<input type="submit" class="button" name="login" value="Add your request" />
    	</form>
    </div>

    <div class="content col right">
	    <div class="highlight">
		<h2>Private scrapers</h2>
       <p> On the trail of a story? Want to keep your data secret for now?</p>
       <p>Ask ScraperWiki - we may be able to write you a private scraper.</p>

			<form method="get" action="{% url contact_form %}">
	    		<input type="submit" class="button" value="Request a private scraper" />
	    	</form>
</div>

		<h3>Latest requested datasets</h3>
		<ul>
		    {% for solicitation in recent_solicitations %}
		        <li>
		    	    <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>
		    	    by
		            {% show_gravatar solicitation.user_created 'small' %} 	
		            <a href='{% url profiles_profile_detail solicitation.user_created %}'>
		                {{ solicitation.user_created.get_profile.name }}
		            </a>
		            {% if solicitation.has_bounty %}
		                <span class="bounty">
		                    <a href="{% url market_view solicitation.id %}">
		                        &pound;{{solicitation.price}} bounty
		                    </a>
		                </span>
		            {% endif %}
		    	</li>
			{% endfor %}
		</ul>
			<p class="more">
			   <a href="{% url market_list %}">Browse all &raquo;</a>
			</p>
    </div>

<br class="clear" />
{% endblock %}
