{% extends "frontend/base.html" %}
{% block css %}{% endblock %}

{% block title %}Scraperwiki front page{% endblock %}
{% block content %}
    {% if message %}
      <div class='warning message'>{{ message }}</div>
    {% endif %}
	<form method="post" action="{% url login %}">
	    {{ form.username.label_tag }}
	    {{ form.username }}
	    {{ form.password.label_tag }}
	    {{ form.password }}
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

{% endblock %}
