


body
{
    background-color:#ddddff;
    text-align:center;
}

table
{
    border: thin black solid;
    border-collapse:collapse; 
    margin-left:auto;
    margin-right:auto;
}
td
{
    border: thin black solid;
}
