{% extends "frontend/base.html" %}
{% load formhelper %}

{% block title %}Contact us{% endblock %}

{% block errors %}
    {% if form.errors %}
        <ul>
            {% form_errors form %}
        </ul>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Contact us</h1>
        <p>Ask us a question or make a suggestion.  
           You are also free to join the 
           <a href="http://groups.google.com/group/scraperwiki">Scraperwiki google group</a>.
        </p>  
    </div>
    <div class="content left col">
        <form action="/contact/" method="POST">
            <ul class="form">
				{% if request.user.is_authenticated %}
				<input id="id_name" name="name" type="hidden" class="required" value="{{ request.user.username }}" />
				<input id="id_email" name="email" type="hidden" value="{{ request.user.email }}" /> 
                {% else %}
                <li>
                    {{ form.name.label_tag }}
                    {{ form.name }}
        	        {% field_errors form.name %}                    
                </li>
                <li>
                    {{ form.email.label_tag }}
                    {{ form.email }}
        	        {% field_errors form.email %}                    
                </li>
                {% endif %}               
                <li>
                    {{ form.subject_dropdown.label_tag }}
                    {{ form.subject_dropdown }}
                    {% field_errors form.subject_dropdown %}
                </li>
                <li>
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {% field_errors form.title %}
                </li>
                <li>
                    {{ form.body.label_tag }}                    
                    {{ form.body }}
                    {% field_errors form.body %}
                </li>
            </ul>
            <input type="submit" value="Send feedback" />
        </form>
        <br />
    </div>
    <div class="content right col">
        &nbsp;
    </div>
{% endblock %}