{% extends "frontend/base.html" %}

{% block title %}Events{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki event with Columbia University" />
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAfPeP-x7UtzNcoqQ7ZfuILBlCaEH8h2Ak&sensor=false"
type="text/javascript"></script>
<script type="text/javascript">
  function createMap() {
    var latlng = new google.maps.LatLng(40.807443, -73.963544);
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googlemap"), myOptions);
    var marker = new google.maps.Marker({
        map:map,
        animation: google.maps.Animation.DROP,
        position: latlng
      });
  }
</script>
{% endblock %}

{% block header %}
{% if debug %}
	<h2>ScraperWiki <em>Journalism Data Camp</em> NY</h2>
	<!-- <h3>on New York Data and Accountability</h3> -->
	<p class="deets"><span class="when">February 4th &amp; 5th</span> <span class="price">Hosted by Columbia University</span> <span class="twitter">#jdcny</span></p>
	<p>Three streams, two days, one goal: opening up New York&rsquo;s data.</p>
	<p class="links">
	    <a href="#streams" class="findoutmore">Find out more</a>
	    <a href="#tickets" class="reserveaspace">Sign up <em>&ndash; free</em></a>
	</p>
{% endif %}
{% endblock %}

{% block content_outer %}
{% if debug %}
<div id="page_outer">
	<div id="page_inner">
        <div id="event_sidebar">
            <h4 class="association">In association with</h4>
            <div class="module">
                <p><a href="http://www.columbia.edu/" target="_blank"><img src="{{MEDIA_URL}}images/event_columbia_logo.gif" width="268" height="42" /></p>
                <p><a href="http://www.knightfoundation.org/" target="_blank"><img src="{{MEDIA_URL}}images/event_knight_logo.gif" width="268" height="35" /></a></p>
            </div>
            <h4 class="when">When?</h4>
            <div class="module">
                <p>09:00&ndash;18:00 Friday 4th Feb 2011</p>
                <p>09:00&ndash;18:00 Saturday 5th Feb 2011</p>
            </div>
            <h4>Where?</h4>
            <div class="module">
                <div id="googlemap" style="width: 268px; height: 250px; margin: 5px 0"></div>
                <p class="address"><a href="http://maps.google.com/maps?q=2950+Broadway,+New+York,+NY+10027" target="_blank" title="Show in Google Maps">School of Journalism,<br/><strong>Columbia University</strong>,<br/>2950 Broadway (at 116th Street),<br/>New York, NY 10027</a></p>
            </div>  
        </div>
        <div id="event_details">
            <h3 class="description">Why we need you</h3>
            <div id="description">
                <p class="first">There are mountains of New York data out there, but someone needs to liberate and make sense of it if we&rsquo;re to hold businesses and governments to account.</p>
                <p>ScraperWiki, together with Columbia University School of Journalism and the Knight Foundation, are doing just that. We need journalists, students, computer scientists, programmers, statisticians and public officials to dig up the data!</p>
                <p class="last"><img src="{{MEDIA_URL}}images/event_big_arrow.gif" width="45" height="65" alt="" />All you need is enthusiasm and a laptop &ndash; we supply the food, drink and wifi. <b>Entry is free</b> but space is limited. We&rsquo;ve got something for everyone, so check out the three streams below, and reserve a ticket before they go.</p>
            </div>
            <h3 class="streams">Pick a stream</h3>
            <div id="streams">
                <div class="stream">
                    <h4><span class="stream a">Stream A:</span> ScraperWiki Data Derby</h4>
                    <img src="{{MEDIA_URL}}images/event_race_tractor.gif" width="156" height="128" alt="" style="float: right; margin: 0 0 10px 10px" />
                    <p>Use data to uncover facts and drive your story home. Work in teams to identify stories, create hypotheses, and then gather, clean, analyse and visualise the data you need. Those that cross the finishing line will win prizes.</p>
                    <p>This stream&rsquo;s perfect for journalists <strong>with or without programming experience</strong>, or anyone who wants to dive deep into the production of a data story.</p>
                </div>
                <hr/>
                <div class="stream">
                    <h4><span class="stream b">Stream B:</span> Liberate the Data</h4>
                    <p><a id="liberatesomedata">Tell us what data<br/>you&rsquo;d like liberated!</a></p>
                    <p>We want to open up more data, and you&rsquo;re the people to do it! This stream is the place for <strong>experienced Python, PHP or Ruby coders</strong>. Come drive our digger, pick up some high-level scraping skills and try them out by liberating data for the Data Derby.</p>
                    <p>We&rsquo;ll have a list of inaccessible datasets on hand, ready for you to explore. And, of course, the best liberators will be getting prizes!</p>
                </div>
                <hr/>
                <div class="stream">
                    <h4><span class="stream c">Stream C:</span> Learn to Scrape</h4>
                    <img src="{{MEDIA_URL}}images/event_blobby_developer.gif" width="80" height="128" alt="" style="float:left; margin: 15px 15px 10px 0" />
                    <p>If you already have some <strong>basic Python or Ruby skills</strong>, but want to know more about scraping, this is the stream for you. We&rsquo;ll be holding two tutorial sessions: one in Python on Friday morning, and one in Ruby  on Friday afternoon.</p>
                    <p>By the end of Friday you&rsquo;ll have all the scraping knowledge you need to join a race team in <span class="stream a">Stream A</span> or liberate some data in <span class="stream b">Stream B</span> on Saturday.</p>
                </div>
            </div>
            <h3 class="tickets">Sign up with Eventbrite</h3>
            <div id="tickets">
                <p>Eventbrite widget goes here</p>
            </div>
        </div>
        <br class="clear" />
    </div>
</div>
{% endif %}
{% endblock %}


{% block run_script %}
    {{block.super}}
    
    createMap();
    
    $('.links a').bind('click', function(e){
        e.preventDefault();
        var target = $($(this).attr('href'));
//        if(target.is(':visible')){
//            $('html, body').animate({
//                scrollTop: target.offset().top - 50
//            }, 500, 'swing');
//        } else {
            target.slideDown(function(){
//                $('html, body').animate({
//                    scrollTop: target.offset().top - 50
//                }, 500, 'swing');
            }).prev().addClass('active').siblings('.active').removeClass('active').next().slideUp();          
//        }
    });
    
    $('#streams, #tickets').hide();
    
    $('h3.description').addClass('active');
    
    $('h3.description, h3.streams, h3.tickets').bind('click', function(){
        if($(this).next().is(':visible')){
            $(this).removeClass('active').next().slideUp();
        } else {
            $(this).addClass('active').next().slideDown();
            $(this).siblings('.active').removeClass('active');
            $('#description, #streams, #tickets').not($(this).next()).slideUp();
        }
    }).css('cursor', 'pointer');
    
{% endblock %}

