{% extends "frontend/base.html" %}
{% load formhelper %}

{% block css %}{% endblock %}

{% block title %}Profile Creation{% endblock %}

{% block errors %}
  {% if form.errors %}
      <ul>
          {% form_errors form %}
      </ul>
  {% endif %}
  
{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Edit your profile</h1>
        <p>
             Update your details and control email alert settings
        </p>
    </div>
    <div class="content col left">
    	<form method="post">
            <ul class="form">
                <li>
                  {{ form.name.label_tag }}
                  {{ form.name }}
                  {% field_errors form.name %}                      
                </li>
                <li>
                  {{ form.email.label_tag }}
                  {{ form.email }}
                  {% field_errors form.email %}                      
                </li>
                <li> 
                    <label>Profile picture</label> 
                    {% load gravatar %}
                    {% show_gravatar profile.user 'large' %}
                    <a href="http://en.gravatar.com" target="_blank">Change profile image</a> (using Gravatar)
                </li>
                <li{% if form.bio.errors %} class="error"{% endif %}>
                    {{ form.bio.label_tag }}
                    {{ form.bio }}
                    {% field_errors form.bio %}                      
                </li>
            </ul>
            <h3><a name="alerts">Email alerts</a></h3>
            <p>
            ScraperWiki can email you when to let you know if your scrapers are working or if someone else edits them. You can control the type and frequency of these below.
            </p>
            <ul class="form"> 
                <li{% if form.alert_frequency.errors %} class="error"{% endif %}>
                    {{ form.alert_frequency.label_tag }}
                    {{ form.alert_frequency }}
                    {% field_errors form.alert_frequency %}            
                </li>
                <li class="checkboxes">
                    {{form.alert_types}}
                </li>
            </ul>
            <div class="buttons">
                <input type="hidden" name="success_url" value="/" />
                <input type="submit" class="button" value="Save changes" />
            </div>
    	</form>
    </div>
    <div class="content col right">
    </div>    
{% endblock %}
