{% extends "frontend/base.html" %}
{% load formhelper %}

{% block css %}{% endblock %}

{% block title %}Profile Creation{% endblock %}

{% block errors %}
  {% if form.errors %}
      <ul>
          {% form_errors form %}
      </ul>
  {% endif %}
  
{% endblock %}

{% block content %}
    <div class="page_title">
        <h1>Edit your profile</h1>
        <p>
             Update your details and control email alert settings
        </p>
    </div>
    <div class="content col left">
    	<form method="post">
    	  <ul class="form">
    	    <li> 
    	      <label>Profile picture</label> 
    		{% load gravatar %} {% show_gravatar profile.user 'large' %} <a href="http://en.gravatar.com" target="_blank">Change profile image</a> (using Gravatar)
    <div style="clear:both;"></div>
    </li>
    	    <li{% if form.bio.errors %} class="error"{% endif %}>
    	      {{ form.bio.label_tag }}
      	      {{ form.bio }}
    	    </li>
	        ScraperWiki can email you when to let you know if your scrapers are working, if someone else edits them, and  when they were last run.
            You can control these emails below

        <li{% if form.alert_frequency %} class="error"{% endif %}>
            {{ form.alert_frequency.label_tag }}
            {{ form.alert_frequency }} in seconds.
        </li>
        <li{% if form.alert_types %} class="error"{% endif %}>
            {{ form.alert_types.label_tag }}
            {{ form.alert_types }}
        </li>
    
    		<input type="hidden" name="success_url" value="/" />
    		<input type="submit" class="button" value="Save" />
    		</ul>
    
    	</form>
    </div>
{% endblock %}