{% extends "frontend/base.html" %}

{% load gravatar %}
{% block css %}{% endblock %}
{% block title %}Profile Details: {{ profile.user.username }}{% endblock %}

{% block content %}

    <div class="page_title">
		<h1>{{ profile.user.username }}'s profile</h1>
		{% show_gravatar profile.user 'large' %} 
		<p>{{ profile.bio }}</p>
	</div>
	
	<div class="content"> 
		 {% ifequal profile.user.username user.username %}
	     <a href="/profiles/edit/">Edit your profile</a>

{% comment %} [APS: remove following/watching features for now]
         {% else  %}

			{% if user.is_authenticated %}
			  <form method="post" action="">
			  {% if following %}
			   You are following {{ profile.user.username}} <input type="submit" value="Unfollow" />
     	      {% else%}
			   <input type="submit" value="Follow {{ profile.user.username}}" />
     	      {% endif %} 
               </form>
     	    {% endif %} 
{% endcomment %}

        {% endifequal %}
	</div>
		
	<div class="content">
    	{%  if owned_scrapers %}
	        <h2>{{ profile.user.username }}'s published scrapers</h2>    	
    	    <ul>	        
                {% for scraper in owned_scrapers %}
            	    {% include 'frontend/scraper_line.html' %}
            	{% endfor %}
	        </ul> 	            	
         {% endif %}
         {%  if solicitations %}
 	        <h2>{{ profile.user.username }}'s requests for datasets</h2>    	
     	    <ul>	        
                {% for solicitation in solicitations %}
                    XX
             	{% endfor %}
 	        </ul> 	            	
          {% endif %}
    </div>
    
    {% endblock %}