{% extends "frontend/base.html" %}
{% load pagination_tags %}
{% load gravatar %}
{% block css %}{% endblock %}
{% block title %}Profile Details: {% if profile.name %}{{profile.name}}{% else %}{{profile.user.username}}{% endif %}
{% endblock %}

{% block header %}
	<h2>{% if profile.name %}{{profile.name}}{% else %}{{profile.user.username}}{% endif %}&rsquo;s profile</h2>
	<p>{{profile.user.username}}{% ifequal profile.user.username user.username %} {% if owned_code_objects %}
	    {% autopaginate owned_code_objects %}
	    &bull;
	    {{ paginator.count }}
	    {% ifequal paginator.count 1 %}scraper or view{% else %}scrapers and views{% endifequal %}
	{% endif %}{% endifequal %}</p>
{% endblock %}

{% block content %}

    <div class="content first">
    
    <!--    <table cellspacing="0" cellpadding="0">
            <tr>
                <td class="profilepic">{% show_gravatar profile.user 'large' %}</td>
                <td class="profilebio"><h4>{% if profile.name %}{{profile.name}}{% else %}{{profile.user.username}}{% endif %}</h4><p>{{ profile.bio }}</p></td>
                {% ifequal profile.user.username user.username %}<td class="profilesettings">
                    <ul>
                        <li>Registered&nbsp;email&nbsp;address:<br/> {{user.email}}</li>
                        <li><a href="{% url profiles_edit_profile %}">Edit&nbsp;your&nbsp;profile</a></li>
                        <li><a href="{% url auth_password_change %}">Change&nbsp;your&nbsp;password</a></li>
                    </ul>
                </td>{% endifequal %}
            </tr>
        </table>    -->
        
        
        {% ifequal profile.user user %}
        <div class="profilesettings">
            <p class="email"><span class="label">Registered email: </span> {{user.email}}</p>
            <p class="edit"><a href="{% url profiles_edit_profile %}"><img src="{{ MEDIA_URL }}images/icons/edit.png" width="16" height="16" alt="" /> Edit&nbsp;your&nbsp;profile</a></p>
            <p class="password"><a href="{% url auth_password_change %}"><img src="{{ MEDIA_URL }}images/icons/key.png" width="16" height="16" alt="" /> Change&nbsp;your&nbsp;password</a></p>
        </div>
        {% endifequal %}
        
        <div class="profilepic">{% show_gravatar profile.user 'large' %}</div>
        
        <div class="profilebio">
            <h3>{% if profile.name %}{{profile.name}}{% else %}{{profile.user.username}}{% endif %}</h3>
            <p>{{ profile.bio }}</p>
            {% if emailer_code_objects %}
              <p class="emailers">Emailers: 
                {% for code in emailer_code_objects %}
                  <a href="{% url code_overview code.wiki_type code.short_name %}">
                     {% if code.title %}{{ code.title }}{% else %}{{ code.short_name }}{% endif %}
                  </a>
                {% endfor %}
              </p>
            {% endif %}
        </div>
             
        <br class="clear" />
	</div>

    <div class="content">
    {% if owned_code_objects %}
	  {% autopaginate owned_code_objects %}	
      <h2 class="scrapersandviews">Scrapers and views ({{ paginator.count }})</h2>    	
      <ul class="scraper_list">
        {% for code in owned_code_objects %}
          {% include 'frontend/includes/code_object_line.html' %}
        {% endfor %}
      </ul>

		{% paginate %}
    {% endif %}

    </div>

 
    {% endblock %}
