{% extends "frontend/base.html" %}

{% load formhelper %}
{% load gravatar %}

{% block title %}
    {% if not invite %}
        Log in
    {% else %}
        Create an account to access
        {% if invite.vault.user.get_profile.name %}
            {{invite.vault.user.get_profile.name}}{% else %}
            {{invite.vault.user.username}}{% endif %}'s vault
    {% endif %}
{% endblock %}

{% block header %}
    {% if not invite %}
        <h2><em>Log in</em> to ScraperWiki Classic</h2>
    {% else %}
    <!-- {% show_gravatar invite.vault.user 'medium' %} -->
        <h2><a href="{% url profile invite.vault.user.username %}">
        {% if invite.vault.user.get_profile.name %}
            {{invite.vault.user.get_profile.name}}
        {% else %}
            {{invite.vault.user.username}}
        {% endif %}</a>
        has invited you to the vault <em>{{ invite.vault.name }}</em></h2>
    {% endif %}
{% endblock %}

{% block errors %}
    {% if login_form.errors %}
        <ul>
            {% form_errors login_form %}
        </ul>
    {% endif %}

    {% if registration_form.errors %}
        <ul>
            {% form_errors registration_form %}
        </ul>
    {% endif %}

{% endblock %}



{% block content %}
{% if not invite %}
<div class="login">
    <form method="post" action="." id="login_form">
        {% csrf_token %}
        {% if login_form.non_field_errors %}
            <div id="main_error">
                {% for error in login_form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
            </div>
        {% endif %}
	    <fieldset>
	        <input type="hidden" name="redirect" value="{{redirect}}"/>
	    </fieldset>
	    <ul class="form">
	        <li{% if login_form.username.errors %} class="error"{% endif %}>
        	    {{ login_form.user_or_email.label_tag }}
        	    {{ login_form.user_or_email }}
    	        {% field_errors login_form.user_or_email %}
	        </li>
	        <li{% if login_form.password.errors %} class="error"{% endif %}>
    	        {{ login_form.password.label_tag }}
    	        {{ login_form.password }}
    	        {% field_errors login_form.password %}
                <a class="forgotten" href="/accounts/password/reset/">Forgotten your password?</a>
    	    </li>
        </ul>
        <div class="last">
        <p class="remember_me">
            {{ login_form.remember_me }}&nbsp;{{ login_form.remember_me.label_tag }}
        </p>
        <p class="last">
		    <input type="submit" id="login_submit" name="submit" value="Log in" />
		</p>
		</div>
		<br class="clear" />
	</form>
</div>
{% endif %}
{% endblock %}
