{% extends "frontend/base.html" %}
{% block css %}{% endblock %}

{% block title %}Scraperwiki front page{% endblock %}
{% block content %}

  <div id='login-panel'>
    {% include 'shared/form_errors.html' %}

	<form method="post" action="{% url django.contrib.auth.views.login %}">

	    {{ login_form.username.label_tag }}
	    {{ login_form.username }}
	    {{ login_form.password.label_tag }}
	    {{ login)form.password }}
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
  </div>

  <div id='registration-panel'>
	{% include 'shared/form_errors.html' %}

	<form method="post" action="/accounts/register/">

	    {{ registration_form.username.label_tag }}
	    {{ registration_form.username }}
	    {{ registration_form.email.label_tag }}
	    {{ registration_form.email }}
	    {{ registration_form.password1.label_tag }}
	    {{ registration_form.password1 }}
	    {{ registration_form.password2.label_tag }}
	    {{ registration_form.password2 }}
		<input type="submit" value="register" />
	</form>
  </div>

{% endblock %}
