{% extends "frontend/base.html" %}

{% block title %}404{% endblock %}
{% block content %}
    <div class="attention">
      {% if heading %}
        <h1>{{heading}}</h1>
      {% else %}
        <h1>Page not found</h1>
      {% endif %}

      {% if body %}
        <p>{{body}}</p>
      {% else %}
        <p>We looked, but we could not find</p>
      {% endif %}
    </div>
    <div class="http_error" class="content">
        <img src="{{ MEDIA_URL }}/images/404.png"/>
    </div>
{% endblock %}
