<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{settings.MEDIA_ROOT}}css/ main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>
