{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{settings.MEDIA_ROOT}}css/codewiki.css" />
<script type="text/javascript" src="{{settings.MEDIA_ROOT}}js/jquery-1.3.2.js"></script>
{% endblock %}

{% block title %}Viewing all scrapers{% endblock %}

{% block content %}
<p><a href="{% url frontpage %}">home</a></p>

<h1>Viewing all scrapers</h1>

<form method="post" action="">
<table class="dividers">
<tr><th>Scraper</th><th>Files</th><th>Last modified</th><th>Last run</th></tr>
{% for scrapermodule in scrapermodules %}
<tr>
  <td><a href="{% url codewikimodule modulename=scrapermodule.modulename %}">{{scrapermodule.modulename}}</a></td>
  <td>
  {% for scraperfile in scrapermodule.scraperfile_set.all %}
     <a href="{% url codewikinfile modulename=scrapermodule.modulename filename=scraperfile.filename %}">{{scraperfile.filename}}</a>
  {% endfor %}
  </td>
  <td>{{scrapermodule.last_edit}}</td>
  <td>{{scrapermodule.last_run}}</td>
</tr>
{% endfor %}
</table>
</form>

<form method="post" action="">
  {% if newmodulename %}{{newmodulename}}{% endif %}
  <input type="text" name="newfile">
  <input type="submit" value="New scraper module"/>
</form>


{% endblock %}
