{% extends "base.html" %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{settings.MEDIA_ROOT}}/css/codewiki.css" />{% endblock %}

{% block title %}All readings{% endblock %}

{% block content %}

<h2>All readings</h2>

<table class="dividers">
<tr><th>Page</th><th>Tag</th><th>Name</th><th>url</th><th>Mimetype</th><th>Scrape time</th><th>Bytes</th></tr>
{% for reading in readings %}
  <tr>
    <td><a href="{% url readingedit reading.id %}">Page {{reading.id}}</a></td>
    <td>{{reading.scraper_tag}}</td>
    <td>{{reading.name}}</td>
    <td>{{reading.url|urlizetrunc:35}}</td>
    <td>{{reading.mimetype}}</td>
    <td>{{reading.scrape_time}}</td>
    <td>{{reading.bytelength}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
