<form method="get" action="{% url chosen_template wiki_type %}">
    <div class="popup_header">
        <a class="popupClose">close</a>
    </div>
    <h2>New {{wiki_type}}</h2>

    <div class="output">
    <table>
    <tr>
    <td>
      <h3>Choose a language</h3>
      {{form.language}}
    </td>
    <td>
      <h3>Choose a template</h3>
      {{form.template}}
    </td>
    </tr>
    </table>
    </div>
    {% if scraper_short_name %}
    <input type="hidden" name="scraper_short_name" value="{{scraper_short_name}}"/>
    {% endif %}
    <input type="Submit" value="Start new {{wiki_type}}"/>
</form>
