<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {# <ul id="menu"> #}
    {#   <li><a href="{% url frontpage %}">Home</a></li> #}
    {# </ul> #}
    {#  #}
    {% block content %}{% endblock %}
    <div id="popups">
        {% block popups %}{% endblock %}
        <div id="overlay"></div>        
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-321882-15");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
</body>
</html>
