{% extends "editor/editor_base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/editor.css" />
{% endblock %}

{% block js %}
    {% comment %}
        Below needed for orbited, don't remove.  
        See http://orbited.org/wiki/Deployment#Cross-SubdomainDeployment 
        for more.
    {% endcomment %}
    <script>
        document.domain = document.domain;
    </script>

    <script src="http://{{ settings.ORBETED_DOMAIN }}:{{ settings.ORBETED_PORT }}/static/Orbited.js"></script>
    <script>Orbited.settings.streaming = false</script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/json-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.htmlClean-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.json-2.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror/js/codemirror.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/editor.js?"></script>  
{% endblock %}

{% block title %}
    {{ scraper.title }} | ScraperWiki
{% endblock %}

{% block content %}

    <form method="POST" accept-charset="utf-8" id="editor" action="">
        <fieldset>
            {# Hidden inputs for passing to js #}
            <input type="hidden" id="scraper_short_name" value="{{ scraper.short_name }}"/>
            <input type="hidden" id="scraper_guid" value="{{ scraper.guid }}"/>
            <input type="hidden" id="username" value="{{ user.username }}"/>
            <input type="hidden" id="userrealname" value="{{ user.get_profile.name }}"/>
            <input type="hidden" id="isstaff" value="{% if user.is_staff %}yes{% endif %}"/>
            <input type="hidden" id="scraperlanguage" value="{{ scraper.language|lower }}"/>
            <input type="hidden" id="codemirror_url" value="{{ MEDIA_URL }}CodeMirror/"/>
            {{form.wiki_type}}
        </fieldset>
        <div class="editor">

            <div id="divDraftSavedWarning" class="draft_warning" style="display:none;">
                A temporary version of your scraper has been saved. To save it permanently you need to <a href="{% url login %}?next={% url handle_session_draft 'save' %}">sign in or create an account</a>.
                <!--Warning: this scraper has not been saved or committed. Click the save button or <a href="{% url delete_draft %}">discard changes</a>.-->
            </div>
            <div class="draft_warning"{% if not has_draft %} style="display:none;"{% endif %}>
                Warning: this scraper has not been saved or committed. <a href="{% url login %}?next={% url handle_session_draft 'save' %}">Sign in or create an account</a> to save it permanently, or <a href="{% url delete_draft %}">discard changes</a>
            </div>

            {# Header #}
            <div class="editor_header">
                <div class="title">
                    {{ form.title }}
                </div>
                
                <ul class="help">
                    <li class="language">{{scraper.language}}</li>
                    <li class="helplink">
                        <a id="menu_tutorials" href="#" title="Load a helpful tutorial">Tutorials and help</a>
                    </li>
                    <!--
                    <li>
                        <a id="menu_settings" href="#">Editor settings</a>
                    </li>
                    -->
                </ul>          
            </div>

            {# Code editor #}
            <div class="editor_code" id="codeeditordiv">
                {{ form.code }}
            </div>

            {# Controls #}
            <div class="editor_controls">
                <input type="button" value="Diff" name="diff" id="diff" title="View diff with the saved version (Ctrl + D)"/>
                {% if user.is_staff %}
                    <input type="button" value="Reload" name="reload" id="reload" title="Reload data from server"/>
                {% endif %}
                <input type="button" class="execute" value="Run" name="run" id="run" title="Run this scraper (Ctrl + R)"/>
                <img id="running_annimation" src="{{ MEDIA_URL }}/images/running.gif"/>
                
                <div class="right">
                    {% if scraper.short_name %}
                        <a id="aCloseEditor" href="{% url scraper_code scraper.wiki_type scraper.short_name %}" title="Return to scraper page">Close editor</a>
                    {% else %}
                        <a id="aCloseEditor" href="{% url frontpage %}" title="Close editor">Close editor</a>                
                    {% endif %}
                    &nbsp;<input type="button" class="save  button" name="action" value="Save draft" title="Save draft version (Ctrl + S)" />&nbsp;
                    <input type="button" id="btnCommitPopup" class="commit button" name="action" value="Commit and publish" title="Commit this scraper"/>
                </div>
            </div>

            {# Consoles #}
            <div id="outputeditordiv" class="editor_output">
                <div class="tabs">
                    <ul>
                        <li class="console">
                            <a href="#" title="Console output from scraper">Console</a>
                        </li>
                        <li class="data">
                            <a href="#" title="The data that this scraper generates">Data</a>                            
                        </li>
                        <li class="sources">
                            <a href="#" title="Pages you are scraping">Sources</a>                            
                        </li>
                        <li class="chat{% if not user.is_staff %} chathidden{% endif %}">
                            <a href="#" title="Communicate to others">Chat</a>                            
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <div id="output_console" class="output">
                        <div class="output_content"></div>
                    </div>
                    <div id="output_data" class="output">
                        <table class="output_content">
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="output_sources" class="output">
                        <div class="output_content"></div>
                    </div>
                    <div id="output_chat" class="output">
                        <table class="output_content">
                            <tbody></tbody>
                        </table>
                        <input type="text" name="chat_line" value="" id="chat_line"/>
                    </div>
                </div>
            </div>
      </div>
      
      <div id="feedback_messages">
          
      </div>

{% endblock %}

{% block popups %}    
    <div id="meta_form" class="popup_item">
            <p>.</p>
            <div class="popup_error">
            </div>            
            <ul class="form">
                <li>
                    <label for="id_meta_title">{{ form.title.label}}</label>
                    <input type="text" name="title" value="" id="id_meta_title">
                </li>
                <li>
                  <label for="id_published">{{ form.published.label}} {{ form.published.errors }}</label>
                  {{ form.published }} 
                  (Publishing your scraper will make the code and data available to others, and allow you to schedule it.)
                </li>
                <li{% if scraper.description %} class="hidden"{% endif %}>
                    <label for="id_description">{{ form.description.label}} {{ form.description.errors }}</label>
                    {{ form.description }}
                </li>
                <li{% if scraper.description %} class="hidden"{% endif %}>
                    <label for="id_license">{{ form.license.label }} {{ form.license.errors }}</label>
                    {{ form.license }}
                </li>
                <li{% if scraper.description %} class="hidden"{% endif %}>
                    <label for="id_commaseparatedtags">{{ form.commaseparatedtags.label}} {{ form.commaseparatedtags.errors }}</label>
                    {{ form.commaseparatedtags }}
                    <small class="hint taghint">e.g. europe<em>,</em> grants<em>,</em> transport</small>
                </li>
                <li>
                  <label for="id_commit_message">{{ form.commit_message.label}} {{ form.commit_message.errors }}</label>
                  {{ form.commit_message }}
                </li>
            </ul>
            <div class="popup_controls">
                <small>* Required field</small>
                <div class="right">
                    <a class="popupReady">cancel</a>&nbsp;&nbsp;
                    <input type="button" id="btnCommitPublish" class="commit button" name="action" value="Commit" title="Commit this scraper"/>
                </div>
            </div>
    </div>
    <div id="diff" class="popup_item">
        <div class="popup_header">
            <h2>Diff with the published version</h2>
            <a class="popupClose">close</a>
        </div>
        <div class="output">
            <pre></pre>
        </div>
    </div>
    <div id="popup_text" class="popup_item">
        <div class="popup_header">
            <a class="popupClose">close</a>
        </div>
        <div class="output"><pre></pre></div>
    </div>

    <div id="popup_exception" class="popup_item">
        <div class="popup_header">
            <h3>Traceback</h3>            
            <a class="popupClose">close</a>
        </div>
        <div class="output"><pre></pre></div>
    </div>

    <div id="popup_intro" class="popup_item">
        <div class="popup_header">
            <h2>Welcome to the ScraperWiki code editor</h2>
        </div>
        <div class="output">
            <p>
                Here you can write, test and debug your screen scrapers using the Python programming language. If you are not familiar with Python <a href="http://docs.python.org/tutorial/" target="_new">click here to read a bit about it</a>.
            </p>
            <p>
                Click the <em>Run</em> button to test your scraper and view the results.
            </p>
            <p>
                Whilst you are working on your scraper click <em>Save draft</em> to back it up. When you are finished, click <em>Commit and publish</em> to share it with the world.
            </p>

            <a href="#" class="popupReady">Ready to start?</a>
        </div>
    </div>

    <div id="popup_tutorials" class="popup_item">
      <a class="popupClose">close</a>
      <h3>Help and instructions</h3>            
      <p class="descr">Scraperwiki is a collaborative wiki for web-scrapers.  
                       See <a href="{% url help %}" target="_blank">FAQ</a> for details.</p>
    
      <table class="bicolumn">
          <tr><td class="bicolumn">
            {% ifequal scraper.language 'Python' %}
              {% include 'frontend/inline_code_docs_python.html' %}
            {% else %}
              {% include 'frontend/inline_code_docs_php.html' %}
            {% endifequal %}
          </td><td class="bicolumn">
            <h4>Handy tutorials</h4>
            <p class="descr">Click on one to load it up.</p>
            <dl>
            {% for scraper in tutorial_scrapers %}
            <dt>
                <a href="#" class="scraper-tutorial-link" short_name="{{scraper.short_name}}"><b>{{scraper.title}}</b></a>
            </dt>
            <dd>
              {{scraper.description}}
            </dd>
            {% endfor %}
            </dl>
          </td></tr>
      </table>
      <div class="popup_header"><a class="popupClose">close</a></div>
    </div>
</form>
{% endblock %}
