{% extends "frontend/corporate/base.html" %}

{% block title %}ScraperWiki Corporate &raquo; Get in touch{% endblock %}

{% block content %}
<section>
    
    <div class="h2box">
        <h2>Get in touch</h2>
        <p>We would love to hear from you to talk about your data and how we can help you.</p>
    </div>
    
    <div class="contact first">
        <h3>Call or email us</h3>
        <p>Speak to a data expert on <a href="tel:+492081330541" class="tel">+44 2081 330541</a> or email <a href="mailto:corporate@scraperwiki.com" class="email">corporate@scraperwiki.com</a></p>
    </div>
    
    <div class="contact second">
        <h3>Request a call-back</h3>
        <form id="callback" method="post" action="/corporate/contact/">
            {% csrf_token %}
            <p><label for="callback_name">Name <em>(required)</em></label> <input type="text" class="text" id="callback_name" name="callback_name" placeholder="Name" /></p>
            <p><label for="callback_company">Company <em>(required)</em></label> <input type="text" class="text" id="callback_company" name="callback_company" placeholder="Company" /></p>
            <p><label for="callback_number">Phone number <em>(required)</em></label> <input type="tel" class="text tel" id="callback_number" name="callback_number" placeholder="Phone number" /></p>
            <p class="last"><input type="submit" class="submit" id="callback_submit" value="Call me back" /></p>
        </form>
    </div>
    
</section>
{% endblock %}
