{% extends "frontend/corporate/base.html" %}

{% block title %}ScraperWiki Corporate &raquo; Get in touch{% endblock %}

{% block content %}
<section>
    
    <div class="h2box">
        <h2>Get in touch</h2>
        <p>We would love to hear from you to talk about your data and how we can help you.</p>
    </div>
    
    <div class="contact first">
        <h3>Call or email us</h3>
        <p>Speak to a data expert on <a href="tel:+492081330541" class="tel">+44 2081 330541</a> or email <a href="mailto:corporate@scraperwiki.com" class="email">corporate@scraperwiki.com</a></p>
    </div>
    
    <div class="contact second thanks">
    	<h3>Call-back requested!</h3>
        <p>Thank you for getting in touch.</p>
        <p>One of our data experts will be in&nbsp;touch&nbsp;shortly.</p>
    </div>
    
</section>
{% endblock %}
