{% extends "frontend/corporate/base.html" %}

{% block title %}ScraperWiki Corporate &raquo; Features &amp; Pricing{% endblock %}

{% block content %}
<section>
    
    <h2>Features and pricing</h2>
    <p>As a ScraperWiki corporate customer, you&rsquo;ll benefit from exclusive corporate features like our PDF extractor, real-time dashboard and SLA, as well as all the usual benefits of the ScraperWiki platform.</p>
    
    <h3>Exclusive corporate features</h3>
    
    <h4>Real-time dashboard</h4>
    <p>Monitor your incoming and outgoing data, in real-time, with our powerful corporate dashboard. Be automatically notified of new data points, unexpected results and code failures. Tie in your Twitter and LinkedIn feeds for a 360&deg; view of your industry.</p>
    <h4>PDF extractor</h4>
    <p>Built from the ground up, to handle the toughest of PDFs. Feed in reports, tables and ???????? &ndash; get out clean, structured and actionable datasets. Worried about accuracy? Us too. Our extractor lets you verify, in detail, the decisions it has made, so you&rsquo;re always in control.</p>
    <h4>Firewall &amp; database integration</h4>
    <p>Who says you have to decide between the flexibility of the cloud and the safety of your in-house systems? Get the best of both worlds with a ScraperWiki Corporate account integrated into your own databases and intranet systems.</p>
    <h4>Service Level Agreement</h4>
    <p>Get the service you expect, with an industry-standard SLA covering resilience, alerts and escalation.</p>
    
    <h3>The ScraperWiki platform</h3>
    
    <h4>Collaboration</h4>
    <p>ScraperWiki allows you to bring your technical teams together to share code that collects and manages your most valuable data. Our corporate vaults allow both internal and external collaborators to work on your projects or initiatives &ndash; with no &rsquo;seat limits&lsquo; to worry about.</p>
    <h4>Competition</h4>
    <p>With data on the web expected to double???? / triple???? over the next 5 years, data-dependent corporations need to adapt to changes in technology <i>right now</i> or lose their competitive edge.</p>
    <p>Innovate the fastest and beat the competition. With our cloud based infrastructure we enable small teams to manipulate data quickly and efficiently, to beat the heavyweight players.</p>
    <h4>Control</h4>
    <p>ScraperWiki Corporate vaults give your data scientists granular control over who can work on your most valuable asset. Teams can be created or dismantled with a single click, allowing faster response times and tighter data security.</p>
    <p>And, whether users are in New Delhi or New York, your real-time corporate dashboard means their actions and amendments can be tracked and monitored from your offices anywhere in the world.</p>
    
</section>
{% endblock %}