{% extends "frontend/corporate/base.html" %}

{% block title %}ScraperWiki Corporate &raquo; Features &amp; Services{% endblock %}

{% block content %}
<section>
    
    <div class="h2box">
        <h2>Features and services</h2>
        <p>As a ScraperWiki corporate customer, in addition to the benefits of the ScraperWiki data hub, you will also have access to our PDF table extractor, real-time dashboard, ETL capability and integration services.</p>
    </div>
    
    <div id="exclusive">
        <h3>Exclusive corporate features <a class="more" href="/corporate/contact/">Call us to find out more &raquo;</a></h3>
        <div class="feature dashboard">
            <h4>Real-time dashboard</h4>
            <p>Monitor your incoming and outgoing data, in real-time, with our powerful corporate dashboard. Be automatically notified of new data points, unexpected results and code&nbsp;failures.</p>
            <p>Tie in your Facebook, Twitter and LinkedIn feeds for a 360&deg; view of&nbsp;your&nbsp;industry.</p>
        </div>
        <div class="feature pdf">
            <h4>PDF extractor</h4>
            <p>Built from the ground up to handle the toughest of PDFs. Turn inaccessible tables and reports into structured and actionable&nbsp;datasets.</p>
            <p>Worried about accuracy? Us too. Our extractor lets you verify in detail the decisions it has made, so you&rsquo;re always&nbsp;in&nbsp;control.</p>
        </div>
        <div class="feature integration">
            <h4>Firewall &amp; database integration</h4>
            <p>Combine the flexibility of the cloud with the safety of your in-house systems. We can securely integrate data feeds into your databases and intranet systems for ultimate peace&nbsp;of&nbsp;mind.</p>
        </div>
        <div class="feature sla">
            <h4>Service Level Agreement</h4>
            <p>Get the service you expect, with an industry-standard SLA covering resilience, alerts and escalation. Monitor our status from your dashboard and receive automatic refunds if we fail to&nbsp;deliver.</p>
        </div>
        <div class="feature consultancy">
            <h4>Data collection &amp; curation services</h4>
            <p>Nobody knows your data better than you. And nobody knows how to handle it like our pool of expert data scientists.  We have an international team of data scientists that are able to address any data problem.</p>
        </div>
    </div>
    
    <div id="howitworks">
        <h3>How ScraperWiki works <a href="{{MEDIA_URL}}/images/corporate/howitworks.png" target="_blank">Look under the hood &raquo;</a></h3>
    </div>
    
    <div id="benefits">
        <h3>The benefits of the ScraperWiki&nbsp;data&nbsp;hub <a class="more" href="/corporate/contact/">Questions? Get in touch &raquo;</a></h3>
        <div class="table">
            <div class="col">
                <h4>Collaboration</h4>
                <ul>
                    <li>Invite data scientists into <abbr>your vault</abbr></li>
                    <li>No &lsquo;seat limits&rsquo; on vault collaborators</li>
                    <li>Live online code editor &ndash; watch the magic happen!</li>
                </ul>
                <!-- <p>ScraperWiki allows you to bring your technical teams together to share code that collects and manages your most valuable data. Our corporate vaults allow both internal and external collaborators to work on your projects or initiatives &ndash; with no &rsquo;seat limits&lsquo; to worry about.</p> -->
            </div>
            <div class="col">
                <h4>Control</h4>
                <ul>
                    <li>Store code and data in private &amp; secure vaults</li>
                    <li>Take granular control over who sees what</li>
                    <li>Schedule scrapers to run up to hourly</li>
                    <li>Investigate data in the browser with our spreadsheet previews</li>
                </ul>
                <!-- <p>ScraperWiki Corporate vaults give your data scientists granular control over who can work on your most valuable asset. Teams can be created or dismantled with a single click, allowing faster response times and tighter data security.</p>
                <p>And, whether users are in New Delhi or New York, your real-time corporate dashboard means their actions and amendments can be tracked and monitored from your offices anywhere in the world.</p> -->
            </div>
            <div class="col">
                <h4>Competition</h4>
                <ul>
                    <li>Efficient and scalable cloud-based infrastructure</li>
                    <li>Use your corporate dashboard to get a 360&deg; view of the competition</li>
                    <li>Save time and money by building applications on top of our rock solid API</li>
                </ul>
                <!-- <p>With data on the web expected to double???? / triple???? over the next 5 years, data-dependent corporations need to adapt to changes in technology <i>right now</i> or lose their competitive edge.</p>
                <p>Innovate the fastest and beat the competition. With our cloud based infrastructure we enable small teams to manipulate data quickly and efficiently, to beat the heavyweight players.</p> -->
            </div>
        </div>
    </div>
    
    <!-- <a href="/corporate/contact/">Get in touch</a> -->
    
</section>
{% endblock %}