{% extends "frontend/corporate/base.html" %}

{% block title %}ScraperWiki Corporate{% endblock %}

{% block content %}
<section>
    <div id="slider">
        <ol class="pagination">
            <li><a href="#competition">Competition</a></li>
            <li><a href="#collaboration">Collaboration</a></li>
            <li><a href="#control">Control</a></li>
            <li><a href="#community">Community</a></li>
        </ol>
        <div class="panel" id="competition">
            <h2>Data is a game&nbsp;changer.</h2>
            <p>Don&rsquo;t get left behind. Our unique platform and flexible software can help turn your data into a competitive&nbsp;edge.</p>
            <a class="more" href="/corporate/features/">Find out how</a>
        </div>
        <div class="panel" id="collaboration">
            <h2>Call&nbsp;in&nbsp;the experts.</h2>
            <p>Quickly bring together the right people for the job, and monitor their changes from a powerful project&nbsp;dashboard.</p>
            <a class="more" href="/corporate/features/">Find out more</a>
        </div>
        <div class="panel" id="control">
            <h2>Your&nbsp;data. Your&nbsp;terms.</h2>
            <p>Take control of your data with a <abbr>ScraperWiki Vault</abbr>. Safe, secure and uptime&nbsp;guaranteed.</p>
            <a class="more" href="/corporate/features/">Find out more</a>
        </div>
        <div class="panel" id="community">
            <h2>You&rsquo;re&nbsp;passionate about your data. So&nbsp;are&nbsp;we.</h2>
            <p>Tap into a community of talented data scientists from across the globe. Monitor, visualise and iterate faster than ever.</p>
            <a class="more" href="/corporate/features/">Find out how</a>
        </div>
    </div>
    
    <div id="explanation">
        <h2>C is for Content D is for Data</h2>
        <p>You all use a CMS to manage your content, but what are you doing to manage your data? ScraperWiki corporate services delivers a <abbr>data management system</abbr> in the cloud giving you a competitive edge.</p>
    </div>
    
    <ul id="actions">
        <li class="features"><a href="/corporate/features/">See features and services</a></li>
        <li class="contact"><a href="/corporate/contact/">Get in touch</a></li>
    </ul>
    
    <dl id="customers">
        <dt>As used by</dt>
        <dd id="gannett"><a href="http://gannett.com" target="_blank">Gannett</a></dd>
        <dd id="agra"><a href="http://agra-net.com" target="_blank">Agra Informa</a></dd>
        <dd id="guardian"><a href="http://guardian.co.uk" target="_blank">The Guardian</a></dd>
        <dd id="cabinet"><a href="http://www.cabinetoffice.gov.uk" target="_blank">Cabinet Office</a></dd>
    </dl>
    
</section>
{% endblock %}