{% extends "frontend/base.html" %}

{% block title %}Whitelist and Blacklist{% endblock %}

{% block content %}
<div class="page_title">

<p>
  To keep a sense of control, ScraperWiki limits the webpages
  your scapers can access to those that match any of the domains in the <b>white list</b>, 
  but do not match anything in the <b>black list</b>.
</p>
<p>
  If you have any questions or need something added to this list, do not hesitate to <a href="{% url contact_form %}">contact us</a>.
</p>

{% if url %}
<p class="report">
  The url <b>{{url}}</b> is 
  {% if urlinwhitelist %}
    in <b>white list</b>
    {% if urlinblacklist %}
      but rejected by the <b>black list</b>.
    {% else %}
      and should be <b>accepted</b>.
    {% endif %}
  {% else %}
    not in white list.
  {% endif %}
</p>
{% endif %}

<h2>Whitelist</h2>
<ul class="bulleted">
  {% for whitelistobj in whitelist %}
    <li>
    {{whitelistobj.0.urlregexname}}  
    {% if whitelistobj.1 %}
      <b>MATCHED</b>
    {% endif %}
    </li>
  {% endfor %}
</ul>

<h2>Blacklist</h2>
<ul class="bulleted">
  {% for blacklistobj in blacklist %}
    <li>{{blacklistobj.0.urlregexname}}  
    {% if blacklistobj.1 %}
      <b>MATCHED</b>
    {% endif %}
    </li>
  {% endfor %}
  {% if blacklistunlisted %}
    <li>
      and {{blacklistunlisted}} ex-directory ones
      {% if blacklistunlistedrejected %}
        (which matches) 
      {% endif %}
    </li>
  {% endif %}
</ul>

<p>
  <a href="{% url contact_form %}">Contact us</a>.
</p>


</div>
{% endblock %} 