{% extends "frontend/base.html" %}

{% block title %}About{% endblock %}
{% block content %}
    <div class="page_title">
        <h1>All about ScraperWiki</h1>
        <p>
            All about the technology and people behind ScraperWiki. For technical questions, see <a href="{% url help %}">the FAQ</a>
        </p>
    </div>

<div class="content full">
    <div id="divWelcome">
        <div id="divIntroSlideShow">
            <div class="slide_show">
                <img src="{{ MEDIA_URL }}images/intro_slides/intro1.png" />
                <img src="{{ MEDIA_URL }}images/intro_slides/intro2.png" />
                <img src="{{ MEDIA_URL }}images/intro_slides/intro3.png" />
                <img src="{{ MEDIA_URL }}images/intro_slides/intro4.png" />  
                <img src="{{ MEDIA_URL }}images/intro_slides/intro5.png" />                                                
            </div>
            <div class="slide_nav"></div>
        </div>
        <div id="divWelcomeText">
            <img id="imgLogoLarge" src="{{MEDIA_URL}}/images/logo_large.png"/>
            <h1>ScraperWiki is all the tools you need for Screen Scraping, Data Mining &amp; visualisation.</h1>            
            <h2>Make bad data good, collaborate &amp; discover new datasets.</h2>
        </div>
    </div>
</div>
<div class="content full">
    <!-- Features -->
    <div class="feature">
        <img src="{{MEDIA_URL}}/images/screenshots/editor.png"/>              
        <h2>Tools for developers ...</h2>            
        <ul>
            <li>Online code editor, write debug and run Python, PHP or Ruby in your browser</li>
            <li>ScraperWiki code libraries make scraping, parsing and geocoding simple</li>
            <li>Store data direct to the datastore</li>
            <li>API access to data in XML, JSON, PHP, YAML or CSV</li>
            <li>Schedule scrapers to re-run so your data is always up-to-date</li>
            <li>Email alerts if your scrapers fail</li>
            <li>Built in source control</li>
        </ul>             
    </div>
    <div class="feature">
        <img src="{{MEDIA_URL}}/images/screenshots/map.png"/>
        <h2>... and for journalists and researchers</h2>            
        <ul>
            <li>Search and browse all the datasets in ScraperWiki</li>
            <li>Export data directly to a spreadsheet</li>
            <li>Suggest new datasets to the community or request directly from ScraperWiki</li>
            <li>View data by location</li>
        </ul>             
    </div>
</div>
<div class="content">

<h2>What is ScraperWiki?</h2>
	
		<p>There's lots of useful data on the internet - crime
		statistics, government spending, 
			<a href="http://www.nationalpetregister.org/">missing kittens</a>...</p>

		<p>But getting at it isn't always easy. There's a table here, a report
		there, web pages, PDFs, spreadsheets... And it can be scattered over
		thousands of different places on the web, making it hard to see the whole
		picture and the story behind it. It's like trying to build something from Lego when someone has
		hidden the bricks all over town and you have to find them before
		you can start building!</p>

		<p>To get at data, programmers write bits of code called 'screen
		scrapers', which extract the useful bits so they can be reused in other apps, or
		rummaged through by journalists and researchers. But these bits of code
		tend to break,  get thrown away or forgotten once they have been
		used, and so the data is lost again. Which is bad.</p>

		<p>ScraperWiki is an online tool to make that process simpler and more
		collaborative. Anyone can write a screen scraper using the online
		editor, and the code and data are shared with the world. Because it's a wiki, other programmers can
		contribute to and improve the code. And, if you're not a programmer
		yourself, you can <a href="{% url market_solicitation %}">request a scraper</a> or ask the
		ScraperWiki team to <a href="{% url contact_form %}">write one for you</a>.</p>
		
<h2>People</h2>

				<p>The original idea for ScraperWiki was Julian Todd's. Richard Pope ran the project. Sym Roe, Anna Powell-Smith and Mike Richardson helped to build it (when not <a href="http://www.youtube.com/watch?v=HNGc8gKFkDs">building igloos</a>).</p> 
				
				<p>Aidan McGuire and Aine McGuire managed it all. Thanks to Francis Irving and Tom Steinberg for mentoring, and Francis Davey for legal advice.</p>

				<h2>Code licence</h2>
				
				<p>ScraperWiki will shortly be released under the open source Affero GPL licence. Apologies for the delay, but we are currently working on making the code stable enough to be worth releasing.</p>

				<p>Scraperwiki is already 99% open source by weight, using as it does <a href="http://www.python.org/">Python, <a href="http://www.apache.org/">Apache, <a href="http://user-mode-linux.sourceforge.net/">User Mode Linux</a>, <a href="http://twistedmatrix.com/">Twisted</a>, <a href="http://orbited.org/">Orbited</a>, <a href="http://nginx.net/">nginx</a>, and <a href="http://marijn.haverbeke.nl/codemirror/">CodeMirror</a>, among other things.
		
				<h2>Funding</h2>

				<p>ScraperWiki was created with support from <a href="http://www.4ip.org.uk/">4iP</a>, Channel 4's web development fund.</p>

		        <h2>Logos</h2>
		        <p>The icons we use come from the fantastic Creative Commons licensed <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icons</a> library, created by Mark James.</p>
		        <p>Since you were probably wondering, the ScraperWiki logo is a "<a href="http://en.wikipedia.org/wiki/Wheel_tractor-scraper">wheel tractor-scraper</a>". It's like a huge cheese slice for moving soil. The logo itself was designed by <a href="http://unicorncreative.com/">James Weiner</a>.
		        </p>

</div>


{% endblock %}
{% block run_script %}setupIntroSlideshow();{% endblock %}