{% extends "frontend/base.html" %}

{% block title %}About{% endblock %}

{% block header %}
	<h2>About ScraperWiki</h2>
	<p>All about the technology and people behind ScraperWiki.</p>
{% endblock %}

{% block content %}
<!--
<div class="content full">
    <div class="feature">
        <img src="{{MEDIA_URL}}/images/screenshots/editor.png"/>              
        <h2>Tools for developers ...</h2>            
        <ul>
            <li>Online code editor, write debug and run Python, PHP or Ruby in your browser</li>
            <li>ScraperWiki code libraries make scraping, parsing and geocoding simple</li>
            <li>Store data direct to the datastore</li>
            <li>API access to data in XML, JSON, PHP, YAML or CSV</li>
            <li>Schedule scrapers to re-run so your data is always up-to-date</li>
            <li>Email alerts if your scrapers fail</li>
            <li>Built in source control</li>
        </ul>             
    </div>
    <div class="feature">
        <img src="{{MEDIA_URL}}/images/screenshots/map.png"/>
        <h2>... and for journalists and researchers</h2>            
        <ul>
            <li>Search and browse all the datasets in ScraperWiki</li>
            <li>Export data directly to a spreadsheet</li>
            <li>Suggest new datasets to the community or request directly from ScraperWiki</li>
            <li>View data by location</li>
        </ul>             
    </div>
</div>
-->

<div class="column-left">
    <h2 class="inline">What is ScraperWiki?</h2>
    <p class="first">There&rsquo;s lots of useful data on the internet &ndash; crime
    statistics, government spending, <a href="http://www.nationalpetregister.org/">missing kittens</a>&hellip;</p>
    <p>But getting at it isn&rsquo;t always easy. There's a table here, a report
    there, a few web pages, PDFs, spreadsheets&hellip; And it can be scattered over
    thousands of different places on the web, making it hard to see the whole
    picture and the story behind it. It&rsquo;s like trying to build something from Lego when someone has
    hidden the bricks all over town and you have to find them before
    you can start building!</p>
</div>
<div class="column-right">
    <p>To get at data, programmers write bits of code called &lsquo;screen
    scrapers&rsquo;, which extract the useful bits so they can be reused in other apps, or
    rummaged through by journalists and researchers. But these bits of code
    tend to break,  get thrown away or forgotten once they have been
    used, and so the data is lost again. Which is bad.</p>
    <p>ScraperWiki is an online tool to make that process simpler and more
    collaborative. Anyone can write a screen scraper using the online
    editor, and the code and data are shared with the world. Because it&rsquo;s a wiki, other programmers can
    contribute to and improve the code. And, if you're not a programmer
    yourself, you can 
    {% if settings.ENABLE_MARKETPLACE %}
    <a href="{% url market_solicitation %}">request a scraper</a> or 
    {% endif %}
    ask the ScraperWiki team to <a href="{% url request_data %}">write one for you</a>.</p>
</div>

<br class="clear" />

<a id="help" href="{% url help %}"><img src="{{MEDIA_URL}}/images/icons/question.png" width="16" height="16" /> Need help with technical questions? Click here to visit the <u>help pages</u>.</a>

<div id="scrapbook">
	<h2><a>A day in the life of ScraperWiki</a></h2>
	<ul>
        <li>
            <a href="http://www.youtube.com/watch?v=3RQ1f6vUMoM&p=12A3B8DEF0A9F401">
                <img src="http://placehold.it/145x100" />
                <h4>Outreach at the BBC</h4>
            </a>
        </li>
        <li>
            <a href="http://www.channel4.com/news/could-selling-off-britains-assets-cut-the-debt">
                <img src="http://placehold.it/145x100" />
                <h4>Visualisations for Channel 4</h4>
            </a>
        </li>
        <li>
            <a href="http://blog.scraperwiki.com/2011/02/25/read-all-about-it-read-all-about-it-%E2%80%9Cscraperwiki-gets-on-the-guardian-front-page-%E2%80%9D/">
                <img src="http://placehold.it/145x100" />
                <h4>Data discovery in the Guardian</h4>
            </a>
        </li>
        <li>
            <a href="http://twitter.com/#%21/timoreilly/status/27527990573268993">
                <img src="http://placehold.it/145x100" />
                <h4>The Tim O&rsquo;Reilly seal of approval</h4>
            </a>
        </li>
	    <li class="clear"></li>
	</ul>
</div>

<div id="people">
    <h2><a>People</a></h2>
	<p>The original idea for ScraperWiki was Julian Todd's. Richard Pope ran the project. Tom Mortimer-Jones, Sym Roe, Anna Powell-Smith and Mike Richardson helped to build it (when not <a href="http://www.youtube.com/watch?v=HNGc8gKFkDs">building igloos</a>).</p> 
	<p>Aidan McGuire and Aine McGuire managed it all. Thanks to Francis Irving, Tom Steinberg and Jamie Arnold for mentoring, Francis Davey for legal advice, and Zarino Zappia for design consultancy.</p>
</div>

<div id="about_specifics">
    <div class="logos">
        <h3>Logos</h3>
        <p>The icons we use come from the fantastic Creative Commons licensed <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icons</a> library, created by Mark James.</p>
        <img src="{{ MEDIA_URL }}images/footer_tractor.png" width="140" height="90" alt="" />
        <p>Since you were probably wondering, the ScraperWiki logo is a "<a href="http://en.wikipedia.org/wiki/Wheel_tractor-scraper">wheel tractor-scraper</a>". It&rsquo;s like a huge cheese slice for moving soil. The logo itself was designed by <a href="http://unicorncreative.com/">James Weiner.</a></p>
    </div>
    <div class="funding">
        <h3>Funding</h3>
        <p>ScraperWiki was created with support from <a href="http://www.4ip.org.uk/">4iP</a>, Channel 4's web development fund.</p>
    </div>
    <div class="licence">
        <h3>Code licence</h3>
        <p>Yes, the source code for the ScraperWiki site is available under the GNU Affero General Public License. You can <a href="https://bitbucket.org/ScraperWiki/scraperwiki">download it here.</a></p>
        <p>ScraperWiki is already 99% open source by weight, using as it does <a href="http://www.python.org/">Python, <a href="http://www.apache.org/">Apache, <a href="http://user-mode-linux.sourceforge.net/">User Mode Linux</a>, <a href="http://twistedmatrix.com/">Twisted</a>, <a href="http://orbited.org/">Orbited</a>, <a href="http://nginx.net/">nginx</a>, and <a href="http://codemirror.net/">CodeMirror</a>, among other things.</p>
    </div>
    <br class="clear" />
</div>


{% endblock %}
