{% extends "frontend/base.html" %}

{% block title %}About{% endblock %}
{% block content %}
    <div class="page_title">
        <h1>About</h1>
        <p>
            All about the technology and people behind ScraperWiki
        </p>
    </div>
    <div class="content">
        <h2>Attributions and thanks</h2>
        <p>The icons we use come from the fantastic Creative Commons Licensed <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icons</a> library created by Mark James.
        </p>
        <h2>Logo</h2>
        <p>
            Since you were probably wondering, the ScraperWiki logo is a "<a href="http://en.wikipedia.org/wiki/Wheel_tractor-scraper">Wheel tractor-scraper</a>". It's like a huge cheese slice for moving soil. The log itself logo was designed by <a href="http://unicorncreative.com/">James Weiner</a>.
        </p>
    </div>
{% endblock %}