<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{% block title %}{% endblock %} | ScraperWiki</title>
	<link rel="image_src" href="{{ MEDIA_URL }}images/footer_tractor.png" />

    {% block meta %}{% endblock %}

	{% load compress %}

	{% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.compatibility.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jeditable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/json-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ICanHaz.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/csrf.js?{{settings.REVISION}}"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/scraperwiki.js?{{settings.REVISION}}"></script>
	{% endcompress %}

	{% block javascript %}{% endblock %}

	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.12.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css?{{settings.REVISION}}" />
	{% endcompress %}

	{% block css %}{% endblock %}
	{% block rss %}{% endblock %}

	{% if not debug %}
	    <script type="text/javascript">

	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-21451224-1']);
          _gaq.push(['_setDomainName', 'none']);
          _gaq.push(['_setCustomVar', 1, 'Registered User', '{% if user.is_authenticated %}True{% else %}False{% endif %}', 2]);
	      _gaq.push(['_trackPageview']);

	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();

	    </script>
	{% endif %}
</head>

{% load body_class %}
<body class="{%  body_class request %}{% block body_class_extra %}{% endblock %}">

{% if messages %}
	{% for message in messages %}
		{{ message|safe }}
	{% endfor %}
{% endif %}

{% if request.impersonated_by %}
    <div id="alert_outer" class="info">
    	<div id="alert_inner">
    	    {{ request.impersonated_by.get_profile.name }}, <b>you are impersonating {{ user.get_profile.name }}</b>
    	    <a href="?__unimpersonate">Okay, I&rsquo;m done impersonating now</a>
        </div>
    </div>
{% endif %}

    <noscript>
        <div id="alert_outer" class="error">
        	<div id="alert_inner">
        	    Oh no! You need to enable Javascript to use ScraperWiki.
                <a href="http://support.google.com/bin/answer.py?hl=en&mp;answer=23852">Find out how</a>
            </div>
        </div>
    </noscript>
    <!--[if lte IE 6]>
        <div id="alert_outer" class="error">
        	<div id="alert_inner">
        	    Oh no! Your browser is too old to use ScraperWiki.
                <a href="http://browserchoice.eu">Click here to upgrade</a>
            </div>
        </div>
    <![endif]-->
    <!--[if IE 7]>
        <div id="alert_outer" class="warning">
        	<div id="alert_inner">
        	    Still on IE7? For the best experience, you should upgrade your browser.
                <a href="http://browserchoice.eu">Cripes, upgrade me!</a>
            </div>
        </div>
    <![endif]-->

	<div id="nav">
        <h1><a href="{% url frontpage %}">ScraperWiki</a></h1>
        <ul class="supernav">
            <li class="code"><a href="{% url frontpage %}">Code</a></li>
            <li class="dataservices"><a href="/dataservices/">Data Services</a></li>
            <li class="about"><a href="{% url about %}">About</a></li>
            {% if user.is_staff %}
            <li class="admin"><a>Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            {% load gravatar %}
            <li class="user"><a href="{% url profile user.username %}"><span class="gravatar_outer">{% show_gravatar user 'medium' %}</span> {% if user.get_profile.name %}{{user.get_profile.name}}{% else %}{{user.username}}{% endif %}</a></li>
            {% else %}
            <li class="signup"><a href="{% url login %}">Sign Up</a></li>
            <li class="login"><a href="{% url login %}">Log In</a></li>
            {% endif %}
        </ul>
        <ul class="subnav code">
            <li class="create"><a data-wiki_type="scraper" href="#" class="editor_scraper">Create Code</a></li>
            <li class="browse"><a href="{% url scraper_list %}scrapers">Browse Code</a></li>
            <li class="pricing"><a href="{% url pricing %}">Premium Accounts</a></li>
            <li class="docs"><a href="{% url docsroot %}">Help &amp; Docs</a></li>
            <li class="search"><form action="/search/" method="post">{% csrf_token %}<input type="text" class="text" name="q" value="{% block searchbox %}Search code...{% endblock %}"/></form></li>
        </ul>
        <ul class="subnav dataservices">
            <li class="datahub"><a href="">What is a Data Hub?</a></li>
            <li class="consultancy"><a href="">Data Consultancy</a></li>
            <li class="request"><a href="{% url request_data %}">Request Data</a></li>
        </ul>
        <ul class="subnav about">
            <li class="about"><a href="{% url about %}">About ScraperWiki</a></li>
            <li class="events"><a href="{% url events %}">Events</a></li>
            <li class="contact"><a href="{% url contact_form %}">Contact</a></li>
        </ul>
        {% if user.is_staff %}
        <ul class="subnav admin">
            {% if scraper.pk %}
                <li class="django"><a href="/admin/codewiki/{{scraper.wiki_type}}/{{scraper.pk}}">Django Admin (this scraper)</a></li>
            {% else %}
                {% if profile.user.pk %}
                    <li class="django"><a href="/admin/auth/user/{{profile.user.pk}}">Django Admin (this user)</a></li>
                    <li class="django"><a href="?__impersonate={{profile.user.username}}">Impersonate User</a></li>
                {% else %}
                    <li class="django"><a href="/admin/">Django Admin</a></li>
                {% endif %}
            {% endif %}
            <li class="status"><a href="{% url status %}" title="Interact with current sandbox status">System Status</a></li>
            <li class="munin"><a href="/munin/" title="Server usage monitoring">Munin</a></li>
            <li class="kpi"><a href="{% url kpi %}" title="Key performance indicators">KPIs</a></li>
        </ul>
        {% endif %}
        {% if user.is_authenticated %}
        <ul class="subnav user">
            <li class="profile"><a href="{% url profile user.username %}">Your profile</a></li>
            {% if user.vaults.count > 0 or request.user.vault_membership.count %}
            <li class="vaults"><a href="{% url vault %}">Your vaults</a></li>
            {% endif %}
            <li class="feedback"><a href="{% url contact_form %}">Give feedback</a></li>
            <li class="signout"><a href="{% url logout %}?next_page=/">Sign out</a></li>
        </ul>
        {% else %}
        <ul class="subnav signup">
            <li class="empty"><a>empty!!</a></li>
        </ul>
        <form class="subnav login" action="{% url login %}" method="post">
            {% csrf_token %}
            <ul>
                <li class="login_help"><a>Need help?</a></li>
                <li class="username"><label for="login_username">Username or email</label> <input type="text" id="login_username" name="user_or_email" /></li>
                <li class="password"><label for="login_password">Password</label> <input type="password" id="login_password" name="password" /></li>
                <li class="login_submit"><input type="submit" class="submit" name="submit" value="Log In" /></li>
            </ul>
        </form>
        {% endif %}
    </div>
    
{% block header_outer %}
	<div id="header">
    {% block header %}
		<h2>Page header</h2>
    {% endblock %}
	</div>
{% endblock %}

{% block content_outer %}<div id="content">
{% block content %}{% endblock %}
</div>{% endblock %}

	{% block footer_outer %}
	<div id="footer_outer">
		<div id="footer_inner">
			{% block footer %}
            {% load site_stats %}
            {% comment %}<p class="stats">has gathered <strong>{% num_data_rows %} rows of data</strong> and counting&hellip;</p>{% endcomment %}
            <p class="stats">Sifting information to give you the edge</p>
            <i id="shhhh" style="display:none">{% num_data_rows %}</i>
			<dl>
				<dt>Business</dt>
				<dd>
					<ul>
						<li><a href="{% url scraper_list %}scrapers" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Browse data']); }">Browse data</a></li>
						<li><a href="{% url request_data %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Request data']); }">Request data</a></li>
						<li><a href="{% url pricing %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Pricing']); }">Pricing</a></li>
					</ul>
				</dd>
				<dt>Developers</dt>
				<dd>
					<ul>
					    <li><a data-wiki_type="scraper" href="#" class="editor_scraper" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Create new scraper']); }">Create new scraper</a> / <a data-wiki_type="view" href="#" class="editor_view" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Create new view']); }">view</a></li>
						<li><a href="{% url docsexternal %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'API']); }">API</a></li>
						<li><a href="{% url docsroot %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Docs &amp; tutorials']); }">Docs &amp; tutorials</a></li>
						<li><a href="{% url docs 'faq' %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'FAQ']); }">FAQ</a></li>
						<li><a href="http://groups.google.com/group/scraperwiki" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Discussion group']); }">Discussion group</a></li>
						<li><a href="http://status.scraperwiki.com" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Status page']); }">Status</a></li>
					</ul>
				</dd>
				<dt>ScraperWiki</dt>
				<dd>
					<ul>
						<li><a href="{% url about %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'About']); }">About us</a></li>
						<li><a href="{% url contact_form %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Contact us']); }">Contact us</a></li>
						<li><a href="http://blog.scraperwiki.com" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Blog']); }">Blog</a></li>
						<li><a href="http://twitter.com/scraperwiki" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Twitter']); }">Twitter</a></li>
                        <li><a href="https://www.facebook.com/pages/ScraperWiki/195413557138197" title="Like us on Facebook" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Facebook']); }">Facebook</a></li>
					</ul>
				</dd>
				<dt class="legal"></dt>
				<dd class="legal">
				    <ul>
				        <li>&copy; ScraperWiki Ltd {% now "Y" %}</li>
				        <li><a href="{% url terms %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Terms &amp; Conditions']); }">Terms &amp; conditions</a></li>
				        <li><a href="{% url privacy %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Privacy policy']); }">Privacy policy</a></li>
				    </ul>
				</dd>
			</dl>
			<img src="{{ MEDIA_URL }}images/footer_tractor.png" width="140" height="90" alt="" />
			{% endblock %}
		</div>
	</div>
	{% endblock %}

    <script type="text/javascript" defer="defer">
        {% block run_script %}
        {% endblock %}
    </script>
    <!--[if IE 6]>
    <script src="{{MEDIA_URL}}js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>
		DD_belatedPNG.fix('.png_bg, img');
	</script>
	<![endif]-->

        {# use this one if you want your editor to syntax highlight the javascript #}
    {% block jrun_script %}
    {% endblock %}

{% if sqldebug %}
<div id="debug">
  <p>
    {{ sqldebug.queries.count }} Quer{{ sqldebug.queries|pluralize:"y,ies" }}, {{ sqldebug.time }} seconds
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sqldebug.queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query|safe }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

</body>

</html>
