{% extends "frontend/base.html" %}

{% block title %}Your scrapers{% endblock %}
{% block content %}

<div class="page_title">
    <h1><span class="text">Your dashboard</span></h1>
    <p>Manage your scrapers and views</p>
</div>

<div class="content">
    <h2>Scrapers and Views you own</h2>
    {% if owned_code_objects %}
      <ul class="scraper_list">
      {% for code in owned_code_objects %}
        {% include 'frontend/includes/code_object_line.html' %}
      {% endfor %}
      </ul>
    {% else %}
      <p>You do not own any scrapers or views</p>
    {% endif %}
    {% if contribution_code_objects %}
      <h2>Scrapers and Views you have contributed to</h2>
      <ul class="scraper_list">
      {% for code in contribution_code_objects %}
        {% include 'frontend/includes/code_object_line.html' %}
      {% endfor %}
      </ul>
    {% endif %}
</div>

{% endblock %}
