{% extends "frontend/base.html" %}

{% block title %}Data Consultancy{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki is the data hub for professional data scientists. Our Corporate Services enable you to tap into that thriving community so you always find the right person for the job. ScraperWiki also helps organise data across your enterprise, combining the flexibility of general purpose code with a rock-solid API and granular permissions over precisely who sees what." />
{% endblock %}

{% block header %}
    <h2><a href="/data_services/">Data Services</a> / <a href="{% url data_consultancy %}">Data Consultancy</a></h2>
{% endblock %}

{% block content %}

{% endblock %}
