{% extends "frontend/base.html" %}

{% block title %}What is a Data Hub?{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki is the data hub for professional data scientists. Our Corporate Services enable you to tap into that thriving community so you always find the right person for the job. ScraperWiki also helps organise data across your enterprise, combining the flexibility of general purpose code with a rock-solid API and granular permissions over precisely who sees what." />
{% endblock %}

{% block header %}
    <h2><a href="/data_services/">Data Services</a> / <a href="{% url data_hub %}">What is a Data Hub?</a></h2>
{% endblock %}

{% block content %}

<div class="intro">
    <h3>A data hub is the only way to analyse&nbsp;datasets&nbsp;collaboratively.</h3>
    <p class="first">Just as a CMS helps you manage content, a data hub helps you manage datasets. And because it&apos;s on the web, you can securely give access to the right people whether they&apos;re in New York or New Delhi.</p>
</div>

<div class="aside">
    <h3>10 advantages of a data hub</h3>
    <ul>
        <li>Help people find datasets (discovery)</li>
        <li>Load data from diverse sources and formats (ETL)</li>
        <li>Store the data and index it for querying</li>
        <li>Browse the dataset like a spreadsheet</li>
        <li>Create visualisations, such as graphs and maps</li>
        <li>Analyse the data, to spot anomalies and find trends</li>
        <li>Data entry and manual cleaning (crowd sourcing)</li>
        <li>Measure and ensure data quality (provenance)</li>
        <li>Control access: employees, suppliers or customers</li>
        <li>Buy and sell data (market)</li>
    </ul>
</div>

<div class="features">
    <p>If you&apos;ve ever wasted time and money transferring data manually between formats, or missed a deadline because all your data is stuck inside some monoloithic java app, then ScraperWiki&apos;s SaaS Data Hub is just what you&apos;re looking for.</p>
    <p>With the flexibility of general purpose code, a rock-solid API, and granular permissions over precisely who sees what, ScraperWiki has all the right features to put you ahead of the&nbsp;competition.</p>
</div>

<!-- remember to add nonbreaking spaces between important&nbsp;words so they don't orphan -->
<blockquote class="microsoft">&ldquo;Some really interesting quote about <a href="http://bit.ly/yNDjDs" title="ScraperWiki CEO Francis Irving and OKFN Founder Rufus Pollock discuss what makes a Data Hub">Data&nbsp;Hubs</a> goes here. Not only is it informative and entertaining, it&apos;s also by a guy from Microsoft, so&nbsp;corporates will love&nbsp;it.&rdquo;<cite>Guy from Microsoft</cite></blockquote>

<div class="collaboration">
    <p>Data analysis tends to happen in isolation and its results are easily lost. ScraperWiki helps organise data across your&nbsp;enterprise.</p>
    <p>People can find each other&apos;s interesting datasets and visualisations, and build on their work to gain new insights. Meanwhile, you can make sure everyone has the latest version of the data, and easily access the code or equations that created&nbsp;it.</p>
</div>

<a class="dont_miss_out" href="{% url request_data %}">Don&apos;t miss out&hellip; <em>Contact us now for a quote</em></a>


<h3 class="different">So what makes ScraperWiki different?</h3>

<div class="data_scientists">
    <p>ScraperWiki is the data hub for <strong>professional data scientists</strong>.</p>
    <p>We have a thriving community of the best&mdash;from countries all over the world, and industries from agriculture to zoology&mdash;meaning you can always find the right person for the job.</p>
</div>

<div class="code">
    <p><strong>Code is powerful.</strong> ScraperWiki is built around it, letting you tackle problems that you don&apos;t even know are problems yet.</p>
    <p>It&apos;s easier to maintain code than Excel formulae, and in a data hub it doesn&apos;t get lost on obscure servers. ScraperWiki is open source, and uses standard web APIs, so you can always get your code and data out.</p>
</div>

<div class="editor">
    <p><strong>ScraperWiki&apos;s online IDE</strong> is the easiest way to get going with coding, so you can concentrate on the data. No per-seat licenses or tedious installation issues. Just log on and start coding.</p>
    <p>Upgrade your statisticians to programmers so they can do magic with your data.</p>
</div>

<blockquote class="rushkoff" cite="http://www.orbooks.com/catalog/program/">&ldquo;As we move into an increasingly digital reality, we must learn not just how to use programs but how to make them. It's really that simple: Program, or be programmed.&rdquo;<cite>Douglas Rushkoff</cite></blockquote>

<p class="consultancy"><strong>Prepare for the future with a ScraperWiki&nbsp;data&nbsp;expert.</strong> ScraperWiki comes with <a href="{% url data_consultancy %}">built-in data consultancy</a> to help you get the most out of our data hub. As well as solving your current needs, like scraping a particular dataset, we can take care of your long term data provision and training.</p>

{% endblock %}
