{% extends "frontend/base.html" %}

{% block title %}Data Services{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki is the data hub for professional data scientists. Our Corporate Data Services enable you to tap into that thriving community so you always find the right person for the job. ScraperWiki also helps organise data across your enterprise, combining the flexibility of general purpose code with a rock-solid API and granular permissions over precisely who sees what." />
{% endblock %}

{% block header %}
    <h2><a href="{% url data_services %}">ScraperWiki Data Services</a></h2>
{% endblock %}

{% block content %}

<div class="intro">
    <h3>Some catchy title goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
</div>

<br class="clear" />

{% endblock %}
