{% extends "frontend/base.html" %}

{% block title %}What is a Data Hub?{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki is the data hub for professional data scientists. Our Corporate Services enable you to tap into that thriving community so you always find the right person for the job. ScraperWiki also helps organise data across your enterprise, combining the flexibility of general purpose code with a rock-solid API and granular permissions over precisely who sees what." />
{% endblock %}

{% block header %}
    <h2><em>Business</em> / <a href="{% url data_hub %}">What is a Data Hub?</a></h2>
{% endblock %}

{% block content %}

<div class="intro">
    <h3>A data hub is the best way<br>to analyse data on the web.</h3>

    <p>Analysis of data tends to happen in isolation and <br>results are easily
    lost. 
    </p>

    <p>Data hubs like ScraperWiki help you organise and visualise that data
    across your&nbsp;enterprise.  Everyone can find it. Everyone can act on it.
    </p>

</div>

<h3 class="different">So what makes ScraperWiki different?</h3>

<div class="data_scientists">
    <p>ScraperWiki is the data hub for <strong>professional data scientists</strong>.</p>
    <p>We have a thriving community of the best&mdash;from countries all over the world, and industries from agriculture to zoology&mdash;meaning you can always find the right person for the job.</p>
</div>

<div class="code">
    <p><strong>Code is powerful.</strong> ScraperWiki is built around it, letting you tackle problems that you don&rsquo;t even know are problems yet.</p>
    <p>It&rsquo;s easier to maintain code than Excel formulae, and in a data hub it doesn&rsquo;t get lost on obscure servers. ScraperWiki is open source, and uses standard web APIs, so you can always get your code and data out.</p>
</div>

<div class="editor">
    <p><strong>ScraperWiki&rsquo;s online IDE</strong> is the easiest way to get going with coding, so you can concentrate on the data. No per-seat licenses or tedious installation issues. Just log on and start coding.</p>
    <p>Upgrade your statisticians to programmers so they can do magic with your data.</p>
</div>

<br class="clear">

<blockquote class="dms" cite="http://blog.okfn.org/2012/03/09/from-cms-to-dms-c-is-for-content-d-is-for-data/">
&ldquo;Just as a CMS helps you manage content, a data hub helps you manage datasets.&rdquo;
<cite><a href="http://blog.okfn.org/2012/03/09/from-cms-to-dms-c-is-for-content-d-is-for-data/">Rufus Pollock</a>, Open Knowledge Foundation</cite>
</blockquote>

<p class="consulting"><strong>Prepare for the future with a ScraperWiki&nbsp;data&nbsp;expert.</strong> ScraperWiki comes with <a href="{% url data_consulting %}">built-in data consulting</a> to help you get the most out of our data hub. As well as solving your current needs, like scraping a particular dataset, we can take care of your long term data provision and training.</p>

<a class="dont_miss_out" href="{% url request_data %}">Don&rsquo;t miss out&hellip; <em>Contact us now for a quote</em></a>

<br class="clear">

{% endblock %}
