<div class="content">
    <div id="divWelcome">
        <div id="divWelcomeImage" style="float:right;">
            <img src="{{ MEDIA_URL }}images/screengrab.png" alt="Screenshot of ScraperWiki code editor" alt="ScraperWiki code editor"/>
        </div>
        <div id="divWelcomeText">
            <p>
                There's lots of useful data locked away 
                on the internet. ScraperWiki helps open it up. 
            </p>
            <p>
                Share code, reuse data and help bootstrap the web.
            </p>
                <form method="get" action="{% url editor %}">
            	    <input type="submit" class="button" value="Start writing a scraper now!"/>
            	</form>
            	<ul>
        	        <li><a href="{% url scraper_list %}">Explore other peoples scrapers</a></li>
        	        <li><a href="{% url market_solicitation %}">Request a scraper</a></li>
    	        </ul>
        </div>
    </div>
    <br class="clear"/>
    <div class="content left half">
        <h3>New scrapers &amp; datasets</h3>
    	<ul>
    		{% for scraper in new_scrapers %}
    		  {% include 'frontend/detailed_scraper_line.html' %}
    		{% endfor %}	
    	</ul>
    	<p class="more">
    	   <a href="{% url scraper_list %}">Browse all &raquo;</a>
    	</p>
    </div>
    <div class="content left half">
        <h3>ScraperMart - latest requests</h3>
        <ul>
        {% for solicitation in solicitations %}
            <li>
        	    <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>
        	    by
              	{% load gravatar %}
                {% show_gravatar solicitation.user_created 'small' %} 	
                <a href='{% url profiles_profile_detail solicitation.user_created %}'>
                    {{ solicitation.user_created.username }}
                </a>
                {% if solicitation.has_bounty %}                
                    <span class="bounty">
                        <a href="{% url market_view solicitation.id %}">
                            &pound;{{solicitation.price}} bounty
                        </a>
                    </span>
                {% endif %}                
        	</li>
    	{% endfor %}
        </ul>
        <p class="more">
    	   <a href="{% url market_list %}">Browse all &raquo;</a>
    	</p>
    </div>
</div>
