{% extends "frontend/base.html" %}
{% load gravatar %}

{% block title %}Welcome{% endblock %}
{% block content  %}
    <div class="page_title">
        <h1>Welcome to ScraperWiki</h1>
        <p>
            All the tools you need for screen scraping{% if user.is_staff %}, data mining &amp; visualisation{% endif %}.
        </p>
    </div>

    <div class="content {% if user.is_staff %}half left{% else %}full{% endif %}">
        <h2>Featured scrapers</h2>        
        <ul class="scraper_list">
    		{% for code in featured_scrapers %}
    		  {% include 'frontend/includes/code_object_line.html' %}
    		{% endfor %}
    	</ul>

        <p>
            <a href="{% url scraper_list_wiki_type 'scraper' %}" title="Browse all scrapers" class="more_link">Browse all scrapers</a>
        </p>
    </div>

    {% if user.is_staff %}
    <div class="content half right staff">
        <h2>Featured views</h2>
        <ul>
    		{% for code in featured_views %}
    		  {% include 'frontend/includes/code_object_line.html' %}
    		{% endfor %}
    	</ul>
    </div>
    {% endif %}
    <br class="clear"/>
    <div class="content full divider">
        <h3>Popular tags</h3>
        <ul class="tags">
            {% for tag in tags %}
                <li><a href="{% url single_tag tag.name %}">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
        <p><a href="{% url all_tags %}" class="more_link">Browse all tags</a></p>
    </div>
    <div class="content full divider">
        {% load blog_latest %}
        {% blog_latest %}
    </div>
{% endblock %}
