{% extends "frontend/base.html" %}
{% load gravatar %}
{% load sw_user_filters %}

{% block title %}Welcome{% endblock %}
{% block content  %}
    <div class="page_title">
        <h1 class="welcome">Welcome to ScraperWiki</h1>
        {% if user.code_set.all|length %}  
            <p>
              You have a stake in <a href="{% url dashboard %}">{{user|num_scrapers}} scrapers and {{user|num_views}} views</a>.
            </p>
        {% else %}
        <div class="definition">
            <p>
               <a href="http://en.wikipedia.org/wiki/Web_scraping" title="Wikipedia definition"><strong>Scraper</strong></a>: 
               a computer program that transforms information from webpages into a data
            </p>
            <p>
               <a href="{% url about %}" title="About ScraperWiki"><strong>ScraperWiki</strong></a>: 
               a website where anyone can write and repair public web scrapers and discover uses for the data
            </p>
        </div>
        {% endif %}
    </div>

    <div class="content half left">
        <h2>Featured scrapers</h2>        
        <ul class="scraper_list">
    		{% for code in featured_scrapers %}
    		  {% include 'frontend/includes/code_object_line.html' %}
    		{% endfor %}
    	</ul>
        <p>
            <a href="{% url scraper_list_wiki_type 'scraper' %}" title="Browse all scrapers" class="more_link">Browse all scrapers</a>
        </p>
    </div>

    <div class="content half right">
        <h2>Featured views</h2>
        <ul class="scraper_list">
    		{% for code in featured_views %}
    		  {% include 'frontend/includes/code_object_line.html' %}
    		{% endfor %}
    	</ul>
    	<p>
            <a href="{% url scraper_list_wiki_type 'view' %}" title="Browse all scrapers" class="more_link">Browse all views</a>
        </p>
    </div>

    <br class="clear"/>
    <div class="content full divider">
        <h3>Popular tags</h3>
        <ul class="tags">
            {% for tag in tags %}
                <li><a href="{% url single_tag tag.name %}">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
        <p><a href="{% url all_tags %}" class="more_link">Browse all tags</a></p>
    </div>
    <div class="content full divider">
        {% load blog_latest %}
        {% blog_latest %}
    </div>
{% endblock %}
