<div class="content">
    <div id="divWelcome">
        <div id="divWelcomeImage" style="float:right;">
            <img src="{{ MEDIA_URL }}/images/screengrab.png" alt="Screenshot of ScraperWiki code editor" alt="ScraperWiki code editor"/>
        </div>
        <div id="divWelcomeText">
            <p>
                There's lots of useful data locked away 
                on the internet. ScraperWiki helps open it up. 
            </p>
            <p>
                Share code, reuse data and help bootstrap the web.
            </p>
                <form method="get" action="{% url editor %}">
            	    <input type="submit" class="button" value="Start writing a scraper now!"/>
            	</form>
            	<ul>
        	        <li><a href="{% url scraper_list %}">Explore other peoples scrapers</a></li>
        	        <li><a href="{% url market_solicitation %}">Suggest a scraper</a></li>
    	        </ul>
        </div>
    </div>
    <br class="clear"/>
</div>
