<div class="page_title">
	<h1><span class="text">Hello {{ user.username }}</span></h1>
	<p>You are currently contributing to {{ contribution_count }} scraper(s)</p>
</div>

<div class="content col left">

	<h2>Your scrapers</h2>
	<ul class="scraper_list">
    	{% for scraper in my_scrapers %}
    	  {% include 'frontend/scraper_line.html' %}
    	{% endfor %}
	</ul>
	<p class="more">
	   <a href="#">View all your scrapers &raquo;</a>
	</p>

    <!--
	<h2>Scrapers you are watching</h2>
	<ul>
		{% for scraper in following_scrapers %}
		  {% include 'frontend/scraper_line.html' %}
		{% endfor %}
	</ul>
	-->
    
    <!--
	    <h2>History</h2>
    -->
</div>
<div class="content col right">
	<ul>
		<li><a href="{% url editor %}">Create a new scraper</a></li>
		<li><a href="{% url market_solicitation %}">Suggest a scraper</a></li>
		<li><a href="{% url profiles_edit_profile %}">Edit your profile</a></li>
		<li><a href="{% url profiles_profile_detail user.username %}">View your profile</a></li>
	</ul>

    <!--
	    <h3>People you are following</h3>
    -->

	<h3>New scrapers from everybody</h3>
	<ul class="scraper_list">
		{% for scraper in new_scrapers %}
		  {% include 'frontend/detailed_scraper_line.html' %}
		{% endfor %}	
	</ul>
</div>