{% extends "frontend/base.html" %}
{% load gravatar %}

{% block title %}Welcome{% endblock %}
{% block content  %}
    <div class="page_title">
        <h1>Welcome to ScraperWiki</h1>
        <p>
            All the tools you need for screen scraping{% if user.is_staff %}, data mining &amp; visualisation{% endif %}.
        </p>
    </div>

    <div class="content {% if user.is_staff %}half left{% else %}full{% endif %}">
        <h2>Featured scrapers</h2>        
        <ul class="scraper_list">
    		{% for code in featured_scrapers %}
    		  {% include 'frontend/includes/code_object_line.html' %}
    		{% endfor %}
    	</ul>

        <p>
            <a href="{% url scraper_list_wiki_type 'scraper '%}" title="Browse all scrapers"><em><b>Browse all scrapers</b></em></a>
        </p>
    </div>

    {% if user.is_staff %}
    <div class="content half right staff">
        <h2>Featured views</h2>
        <ul>
    		{% for code in featured_views %}
    		  {% include 'frontend/includes/code_object_line.html' %}
    		{% endfor %}
    	</ul>
    </div>
    {% endif %}
    <br class="clear"/>

    <div class="content full divider">
        {% load blog_latest %}
        {% blog_latest %}
    </div>
    <div class="contentfull">
        <h3>Latest requested datasets</h3>
        <ul>
        {% for solicitation in solicitations %}
            <li>
        	    <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>
        	    by
                {% show_gravatar solicitation.user_created 'small' %} 	
                <a href='{% url profiles_profile_detail solicitation.user_created %}'>
                    {{ solicitation.user_created.get_profile.name }}
                </a>
                {% if solicitation.has_bounty %}
                    <span class="bounty">
                        <a href="{% url market_view solicitation.id %}">
                            &pound;{{solicitation.price}} bounty
                        </a>
                    </span>
                {% endif %}
        	</li>
    	{% endfor %}
        </ul>
    </div>
{% endblock %}
