{% extends "frontend/base.html" %}
{% block css %}{% endblock %}

{% block title %}Welcome{% endblock %}
{% block content  %}

{% load gravatar %}

<div class="page_title">
	<h1><span class="text">Hello {{ user.username }}</span></h1>

    <p>
    {% if has_scrapers %}
	    You are contributing to {{ contribution_count }} scraper{{ contribution_count|pluralize }}
	{% else %}
        Welcome back
    {% endif %}
    {% comment %} [APS: remove following/watching features for now]
    {% if following_scrapers %} {% if not following_users %} and {% else %}, {% endif %}
    	 watching 
    			{% with following_scrapers.count as num %}{{ num }}
    			scraper{{ num|pluralize }}{% endwith %}{% endif %}{% if following_users %}{% if not following_scrapers %} and {% else %}, and {% endif %} following {{ following_users_count }}
    				user{{ following_users_count|pluralize }}{% endif %}

    {% endcomment %} 
	</p>
</div>

<div class="content col left">

    {% if has_scrapers %}
    	<h2>Your scrapers</h2>

        	<ul class="scraper_list">
                {% for scraper in my_scrapers %}
                    {% include 'scraper/scraper_line.html' %}
                {% endfor %}
            </ul>

    		<p class="more">
    		   <a href="{% url my_scrapers %}">View all your scrapers &raquo;</a>
    		</p>
		
	{% else %}
    	<h2>Featured scrapers</h2>
    	<ul class="scraper_list">
    		{% for scraper in new_scrapers %}
    		  {% include 'frontend/detailed_scraper_line.html' %}
    		{% endfor %}	
    	</ul> 
	{% endif %}

</div>
<div class="content col right">
	<ul>
		<li><a href="{% url editor %}">Create a new scraper</a></li>
		<li><a href="{% url market_solicitation %}">Request a scraper</a></li>
		<li><a href="{% url profiles_edit_profile %}">Edit your profile</a></li>
		<li><a href="{% url profiles_profile_detail user.username %}">View your profile</a></li>
	</ul>

    <h3>ScraperMart - latest requests</h3>
    <ul>
    {% for solicitation in solicitations %}
        <li>
    	    <a href="{% url market_view solicitation.id %}">{{solicitation.title}}</a>
    	    by
            {% show_gravatar solicitation.user_created 'small' %} 	
            <a href='{% url profiles_profile_detail solicitation.user_created %}'>
                {{ solicitation.user_created.username }}
            </a>
            {% if solicitation.has_bounty %}
                <span class="bounty">
                    <a href="{% url market_view solicitation.id %}">
                        &pound;{{solicitation.price}} bounty
                    </a>
                </span>
            {% endif %}
    	</li>
	{% endfor %}
    </ul>

    <p class="more">
	   <a href="{% url market_list %}">Browse all &raquo;</a>
	</p>
	
	<h3>New scrapers from everybody</h3>
	<ul>
		{% for scraper in featured_scrapers %}
		  {% include 'frontend/detailed_scraper_line.html' %}
		{% endfor %}
	</ul>
	

</div>

{% endblock %}
{% block run_script %}setupIntroSlideshow(); setupScroller();{% endblock %}
