
<div class="section">
<h3>External Python libraries supported in ScraperWiki</h3>
<p>ScraperWiki supports a number of external Python libraries that we recommend for screen scraping, data analysis and data visualisation.</p>

<p>If you would like us to add a library that isn't listed here, please <a href="{% url contact_form %}">get in touch</a>.</p>
</div>
<div class="section">
<ul>
    <li><code><b>urllib2</b>, <b>urlparse</b></code>
        Standard Python libraries for opening URLs. <a href="http://docs.python.org/library/urllib2.html" target="_blank">docs</a>
    </li>
    <li><code><b>lxml</b></code>
        Parse HTML with a specialist screen scraping library. <a href="http://codespeak.net/lxml/" target="_new">docs</a>
    </li>
    <li><code><b>BeautifulSoup</b></code>
        Parse HTML with an alternative screen scraping library. Relatively quick to learn, but no longer supported. <a href="http://www.crummy.com/software/BeautifulSoup/" target="_new">docs</a>
    </li>
    <li><code><strong>pyquery</strong></code>
        Make jquery like queries from Python. <a href="http://packages.python.org/pyquery/" target="_new">docs</a>
    </li>
    <li><code><strong>mechanize</strong></code>
        Navigate and complete HTML forms. <a href="http://wwwsearch.sourceforge.net/mechanize/" target="_new">docs</a>
    </li>
    <li><code><strong>selenium</strong></code>
        Automate operating real browsers like Firefox. NB: Only useful in ScraperWiki if you have a
        Selenium server to point it to. <a href="http://pypi.python.org/pypi/selenium#example" target="_new">docs</a>
    </li>
    <li><code><strong>xlrd, xlwt, xlutils</strong></code>
        Read, write and process Excel files. <a href="http://www.python-excel.org/" target="_new">docs</a>
    </li>
    <li><code><strong>PDFMiner</strong></code>
        Python PDF parser and analyzer. <a href="http://www.unixuser.org/~euske/python/pdfminer/index.html" target="_new">docs</a>
    </li>
    <li><code><strong>pyPdf</strong></code>
        Manipulate PDF files. <a href="http://pybrary.net/pyPdf/" target="_new">docs</a>
    </li>
    <li><code><strong>geopy</strong></code>
        Converts addresses into latitude/longitude, and measures distances on the earth. <a href="http://code.google.com/p/geopy/wiki/GettingStarted" target="_new">docs</a>
    </li>
    <li><code><strong>Python YQL</strong></code>
        Yahoo Query Language, an expressive SQL-like language that lets you query, filter, and join data across Web services. <a href="http://python-yql.org/" target="_new">docs</a>
    </li>
    <li><code><strong>pygooglechart</strong></code>
        Generate charts using the Google Chart API. <a href="http://pygooglechart.slowchop.com/" target="_new">docs</a>
    </li>
    <li><code><strong>Python Imaging Library (PIL)</strong></code>
        Image processing, lots of file formats. <a href="http://www.pythonware.com/library/pil/handbook/index.htm" target="_new">docs</a>
    </li>
    <li><code><strong>iCalendar</strong></code>
        Prase and generate calendar files. <a href="http://codespeak.net/icalendar/" target="_new">docs</a>
    </li>
    <li><code><strong>RDFLib</strong></code>
        Input and output linked data triples as RDF. <a href="http://www.rdflib.net/" target="_new">docs</a>
    </li>
    <li><code><strong>NumPy</strong></code>
        Large, multi-dimensional arrays, matrices and functions to operate on them. <a href="http://rpy.sourceforge.net/" target="_new">docs</a>
    </li>
    <li><code><strong>RPy</strong></code>
        Call out to GNU R, a popular statistical computing and graphics package. <a href="http://rpy.sourceforge.net/" target="_new">docs</a>
    </li>
    <li><code><strong>Natural Language Toolkit (NLTK)</strong></code>
        Natural language processing and text analytics. <a href="http://www.nltk.org/documentation" target="_new">docs</a>
    </li>
    <li><code><strong>FOM (Fluid Object Mapper)</strong></code>
        Read or write to the Fluidinfo shared database. <a href="http://www.fluidinfo.com/" target="_new">docs</a>
    </li>
</ul>
</div>
