
<div class="section">
<h3>External Python libraries supported in ScraperWiki</h3>
<p>ScraperWiki supports a number of external Python libraries that we recommend for screen scraping, data analysis and data visualisation.</p>

<p>If you would like us to add a library that isn't listed here, please <a href="{% url contact_form %}">get in touch</a>.</p>
</div>
<div class="section">
<ul>
    <li><code><b>urllib2</b>, <b>urlparse</b></code>
        Standard Python libraries for opening URLs. <a href="http://docs.python.org/library/urllib2.html" target="_blank">docs</a>
    </li>
    <li><code><b>lxml</b></code>
        Parse HTML with a specialist screen scraping library. <a href="http://codespeak.net/lxml/" target="_new">docs</a>
    </li>
    <li><code><b>BeautifulSoup</b></code>
        Parse HTML with an alternative screen scraping library. Relatively quick to learn, but no longer supported. <a href="http://www.crummy.com/software/BeautifulSoup/" target="_new">docs</a>
    </li>
    <li><code><strong>mechanize</strong></code>
        Navigate and complete HTML forms. <a href="http://wwwsearch.sourceforge.net/mechanize/" target="_new">docs</a>
    </li>
    <li><code><strong>xlrd</strong></code>
        Read Excel files. <a href="http://www.lexicon.net/sjmachin/xlrd.htm" target="_new">docs</a>
    </li>
    <li><code><strong>pygooglechart</strong></code>
        Generate charts using the Google Chart API. <a href="http://pygooglechart.slowchop.com/" target="_new">docs</a>
    </li>
    <li><code><strong>Python Imaging Library (PIL)</strong></code>
        Image processing, lots of file formats. <a href="http://www.pythonware.com/library/pil/handbook/index.htm" target="_new">docs</a>
    </li>
    <li><code><strong>iCalendar</strong></code>
        Prase and generate calendar files. <a href="http://codespeak.net/icalendar/" target="_new">docs</a>
    </li>
    <li><code><strong>RPy</strong></code>
        Call out to GNU R, a popular statistical computing and graphics package. <a href="http://rpy.sourceforge.net/" target="_new">docs</a>
    </li>
    <li><code><strong>PDFMiner</strong></code>
        Python PDF parser and analyzer. <a href="http://www.unixuser.org/~euske/python/pdfminer/index.html" target="_new">docs</a>
    </li>
    <li><code><strong>FOM (Fluid Object Mapper)</strong></code>
        Read or write to the Fluidinfo shared database. <a href="http://www.fluidinfo.com/" target="_new">docs</a>
    </li>
</ul>
</div>
