<div class="content">
    <div class="feature">
        <img src="{{MEDIA_URL}}/images/screenshots/editor.png"/>              
        <h2>Tools for developers ...</h2>            
        <ul>
            <li>Online code editor, write debug and run Python, PHP or Ruby in your browser</li>
            <li>ScraperWiki code libraries make scraping, parsing and geocoding simple</li>
            <li>Store data direct to the datastore</li>
            <li>API access to data in XML, JSON, PHP, YAML or CSV</li>
            <li>Schedule scrapers to re-run so your data is always up-to-date</li>
            <li>Email alerts if your scrapers fail</li>
            <li>Built in source control</li>
        </ul>             
    </div>
    <div class="feature">
        <img src="{{MEDIA_URL}}/images/screenshots/map.png"/>
        <h2>... and for journalists and researchers</h2>            
        <ul>
            <li>Search and browse all the datasets in ScraperWiki</li>
            <li>Export data directly to a spreadsheet</li>
            <li>Suggest new datasets to the community or request directly from ScraperWiki</li>
            <li>View data by location</li>
        </ul>             
    </div>
</div>
