<div class="content">

    <div class="section"> 
        <h3>Key technical features</h3>

        <ul>
            <li>Online code editor, write debug and run Python, Ruby or PHP in your browser</li>
            <li><a id="reference" href="{% url help 'documentation' language|default:"python" %}">ScraperWiki code libraries</a> make scraping and parsing simple</li>
            <li>Nokogiri, lxml, Mechanize &mdash; <a id="libraries" href="{% url help 'libraries' language|default:"python" %}">all the libraries</a> you're used to</li>
            <li>Store data direct to an SQLite datastore</li>
            <li><a href="{% url api:index_1_0 %}">API access</a> to data in JSON, CSV</li>
            <li>Views for writing simple web apps</li>
            <li>Scheduled to re-run so your data is always up-to-date</li>
            <li>Email alerts if your scrapers fail, or someone edits them</li>
            <li>Built in source control, based on Mercurial</li>
        </ul>             
    </div>


</div>
