
<div class="section">
<h3>External Ruby libraries supported in ScraperWiki</h3>
<p>ScraperWiki supports a number of external Ruby libraries that we recommend for screen scraping, data analysis and data visualisation.</p>

<p>If you would like us to add a library that isn't listed here, please <a href="{% url contact_form %}">get in touch</a>.</p>
</div>
<div class="section">
<ul>
    <li><code><b>Nokogiri</b></code>
        Parse HTML with a specialist screen scraping library. <a href="http://nokogiri.org/" target="_new">docs</a>
    </li>
    <li><code><b>spreadsheet</b></code>
        Read and write Excel spreadsheets. <a href="http://spreadsheet.rubyforge.org/GUIDE_txt.html" target="_new">docs</a>
    </li>
    <li><code><b>FasterCSV</b></code>
        Faster at reading comma separated value files than Ruby's standard CSV library. <a href="http://fastercsv.rubyforge.org/" target="_new">docs</a>
    </li>
    <li><code><b>PDF::Reader</b></code>
        Read PDF files. <a href="https://github.com/yob/pdf-reader#readme" target="_new">docs</a>
    </li>
    <li><code><b>Ruby/ZOOM</b></code>
        Binding for the Z39.50 Object-Orientation Model, which lets you query various library and bibliography databases. <a href="http://ruby-zoom.rubyforge.org/" target="_new">docs</a>
    </li>
</ul>
</div>
