
<div class="section">
<h3>External Ruby libraries supported in ScraperWiki</h3>
<p>ScraperWiki supports a number of external Ruby libraries that we recommend for screen scraping, data analysis and data visualisation.</p>

<p>If you would like us to add a library that isn't listed here, please <a href="{% url contact_form %}">get in touch</a>.</p>
</div>
<div class="section">
<h2><span id="scraping"></span>Scraping and refining</h2> 
<ul>
    <li><code><b>Nokogiri (鋸)</b></code>
        An HTML, XML, SAX, and Reader parser. Can search documents by XPath or CSS3 selectors. <a href="http://nokogiri.org/tutorials" target="_new">docs</a>
    </li>
    <li><code><b>Hpricot</b></code>
        A fast, enjoyable HTML parser for Ruby. <a href="https://github.com/hpricot/hpricot/wiki/" target="_new">docs</a>
    </li>
    <li><code><b>LibXML</b></code>
        Fast XML parsing library. <a href="http://libxml.rubyforge.org/rdoc/index.html" target="_new">docs</a>
    </li>
    <li><code><b>Ruby RSS</b></code>
        An elegant RSS (Really Simple Syndication) parser. <a href="http://rubyrss.com/" target="_new">docs</a>
    </li>
    <li><code><strong>mechanize</strong></code>
        Navigate and complete HTML forms. <a href="http://mechanize.rubyforge.org/mechanize/GUIDE_rdoc.html" target="_new">docs</a>
    </li>
    <li><code><b>spreadsheet</b></code>
        Read and write Excel spreadsheets. <a href="http://spreadsheet.rubyforge.org/GUIDE_txt.html" target="_new">docs</a>
    </li>
    <li><code><b>FasterCSV</b></code>
        Faster at reading comma separated value files than Ruby's standard CSV library. <a href="http://fastercsv.rubyforge.org/" target="_new">docs</a>
    </li>
    <li><code><b>PDF::Reader</b></code>
        Read PDF files. <a href="https://github.com/yob/pdf-reader#readme" target="_new">docs</a>
    </li>
    <li><code><b>Ruby/ZOOM</b></code>
        Binding for the Z39.50 Object-Orientation Model, which lets you query various library and bibliography databases. <a href="http://ruby-zoom.rubyforge.org/" target="_new">docs</a>
    </li>
</ul>
</div>

<!-- <div class="section">
<h2><span id="scraping"></span>Visualising and analysing</h2> 
<ul>
nothing yet :)
</ul>
</div> -->



