{% extends "frontend/base.html" %}

{% block title %}Refine, reuse and request data{% endblock %}
{% block meta %}
    <meta name="description" content="ScraperWiki helps coders make data do stuff across the web. Our expert data services also help businesses everywhere use data to gain a competitive edge."/>
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block header_outer %}{% endblock %}

{% block content_outer %}

<div id="classic">
    <h1>Scraperwiki has evolved</h1>
    <p>The new ScraperWiki makes it easier than ever to <br/> get, clean, analyse and visualise your data.</p>
    <a href="https://beta.scraperwiki.com" id="take_me_there">Take me there</a>
    <a id="classic_login">Or log in to ScraperWiki Classic</a>
</div>
{% endblock %}

{% block run_script %}
var t = $('ul.tags li').length;
$('ul.tags li').each(function(){
    var i = $(this).index();
    $(this).css('opacity', 1-i/(t*1.2)).hover(function(){
        $(this).css('opacity', 1);
    }, function(){
        $(this).css('opacity', 1-i/(t*3));
    });
});
{% endblock %}
