{% extends "frontend/base.html" %}

{% block title %}Refine, reuse and request data{% endblock %}
{% block meta %}
    <meta name="description" content="ScraperWiki helps coders make data do stuff across the web. Our expert data services also help businesses everywhere use data to gain a competitive edge."/>
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block header_outer %}{% endblock %}

{% block content_outer %}
<div id="feature">
    <div id="for_coders">
        <h3>ScraperWiki Data Hub</h3>
        <h2>Helping coders make data do stuff across the&nbsp;web</h2>
        <a href="#">Try it out for free</a>
    </div>
    <div id="for_businesses">
        <h3>ScraperWiki Data Services</h3>
        <h2>Super-charge your&nbsp;business with bespoke data&nbsp;feeds.</h2>
        <a href="#">Find out how</a>
    </div>
</div>
<div id="content">
    
</div>
{% endblock %}