    <h4>scraperwiki functions</h4>
    <dl>
      <dt class="code">
        ScraperWiki.scrape(url)
      </dt>
      <dd>Returns the source text of a webpage as a string. This lists information on the sources tab.</dd>
    </dl>

    <h4>scraperwiki.datastore functions</h4>
    <dl>
      <dt class="code">
        ScraperWiki.save(unique_keys=[], data={}, <em>date=nil</em>, <em>latlng=nil</em>)
      </dt>
      <dd>Saves to the datastore, either adding or over-writing data with the same values for unique_keys.
        <code>date</code> and <code>latlng</code> are optional special fields for indexing each record.</dd>
    </dl>

    <h4>Recommended libraries</h4>
    <dl>
      <dt class="code">libxml-ruby</dt>
      <dd>
        Libxml bindings for Ruby. <a href="http://libxml.rubyforge.org/" target="_blank">docs</a>
      </dd>

      <dt class="code">Hpricot</dt>
      <dd>
        A swift, liberal HTML parser with a fantastic library.  <a href="http://wiki.github.com/hpricot/hpricot/" target="_new">docs</a>
      </dd>

    </dl>
