{% extends "frontend/base.html" %}

{% block title %}Public requests{% endblock %}

{% block meta %}
    <meta name="description" content="If you have found an interesting dataset, ask our developer community to scrape some data for you." />
{% endblock %}

{% block header %}
    <h2>Public requests</h2>
{% endblock %}

{% block content %}
<div id="public_request_directions">
    <p>
        If you've found a cool dataset that you don't know how to liberate,
        post it on <a href="http://groups.google.com/group/scraperwiki?hl=en">our community Google Group</a>.
        Someone might be able to give you some tips or even write the scraper for you.
    </p>
    <p>
        If you make your request exciting and straightforward,
        you might get more of a response. Here are some suggestions of things to include.
    </p>
    <ul>
        <li>Why you want to liberate this data</li>
        <li></li>
        <li>(Screenshots help.)</li>
        <li></li>
    </ul> 
</div>
{% endblock %}
