{% extends "frontend/base.html" %}

{% block title %}Request data{% endblock %}

{% block meta %}
    <meta name="description" content="Ask ScraperWiki to scrape the data you need. Public data requests are free, and fulfilled by our brilliant developer community. Private data requests are fulfilled by a crack team of data diggers, and the data stored in secure ScraperWiki Vaults." />
{% endblock %}

{% block header %}
    <h2><em>Business</em> / <a href="{% url request_data %}">Request Data</a></h2>
{% endblock %}

{% block content %}


<div id="process">
    <div class="stage first">
        <h3>Request some data</h3>
        <p>We can scrape web pages, call APIs or access your legacy data. Tell us roughly what you need.</p>
    </div>
    <div class="stage second">
        <h3>We&rsquo;ll call you</h3>
        <p>To discuss your requirements in finer detail.</p>
    </div>
    <div class="stage third">
        <h3>Investigation! <span class="cost">$150</span></h3>
        <p>We match your business needs to the technical issues, and write a report detailing final deliverables and cost.</p>
    </div>
    <div class="stage fourth last">
        <h3>Delivery! <span class="cost">$1000+</span></h3>
        <p>Get the data in the form you need, or integrated into your systems.</p>
    </div>
</div>


<div id="public_request" style="display: none">
    <p>
        If you&rsquo;ve found a cool dataset that you don't know how to liberate,
        you should post it on <a href="http://groups.google.com/group/scraperwiki?hl=en">our community Google Group</a>.
        Someone might be able to give you some tips or even write the scraper for you.
        Here are some things you should include.
    </p>
    <ul class="bulleted">
        <li>Why you want to liberate this data</li>
        <li>URLs or source documents</li>
        <li>How often the site gets updated (if you know)</li>
    </ul>
    <p>
        It can also help developers if you provide a walkthrough
        of how you would get the data if you needed to resort to
        copy-and-paste. For complicated websites, annotated
        screenshots are sometimes nice.
        {# Column names of the resulting tables #}
    </p> 
    <p>
        If your request sounds boring or overly commercial, people probably won&rsquo;t respond;
        please consider our <a href="{% url request_data %}">premium services</a> if that is the case.
    </p>
</div>

<form action="." method="post" id="request">
    <h3>Request some data: Tell us what you need</h3>
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div id="main_error">{{form.non_field_errors.0}}</div>
    {% endif %}
	<div class="description{% if form.description.errors %} error{% endif %}">
        {{form.description.label_tag}}
        {{form.description}}
        <div class="tips">
        {% if form.description.errors %}<p>{{ form.description.errors }}</p>{% endif %}
            <p>Make sure to tell us the URL or web address where we can find the data, what details you need, and what format you want the output delivered in.</p>
            <p>eg: "Hi. I need all the cheese listed on http://www.cheese.com. I need the name or each cheese, along with its country of origin and its description. I need the data delivered as a CSV."</p>
        </div>
	</div>
	<div class="name {% if form.name.errors %} error{% endif %}">
        {{form.name.label_tag}}
        {{form.name}}
        {% if form.name.errors %}<div class="tips">{{ form.name.errors }}</div>{% endif %}
	</div>
	<div class="phone {% if form.phone.errors or form.no_contact_details %}error{% endif %}">
        {{form.phone.label_tag}}
        {{form.phone}}
        {% if form.no_contact_details %}<div class="tips">Please tell us how to contact you.</div>{% endif %}
        {% if form.phone.errors %}<div class="tips">{{ form.phone.errors }}</div>{% endif %}
	</div>
	<div class="email {% if form.email.errors or form.no_contact_details %}error{% endif %}">
        {{form.email.label_tag}}
        {{form.email}}
        {% if form.email.errors %}<div class="tips">{{ form.email.errors }}</div>{% endif %}
	</div>
	<div class="last">
		<input type="submit" value="Send your request" id="send" />
	</div>
</form>

{% endblock %}
