{% extends "frontend/base.html" %}

{% block title %}Discover Secrets in Data{% endblock %}

{% block meta %}
    <meta name="description" content="Ask ScraperWiki to scrape the data you need. Public data requests are free, and fulfilled by our brilliant developer community. Private data requests are fulfilled by a crack team of data diggers, and the data stored in secure ScraperWiki Vaults." />
{% endblock %}

{% block header %}
    <h2><a href="{% url data_consulting %}">Business</a> / <a href="{% url secrets %}">Discover Secrets in Data</a></h2>
{% endblock %}

{% block content %}

<div id="secrets-in-data">
    
    <p>Isn&rsquo;t it really frustrating when you&rsquo;ve got data but it&rsquo;s locked away in PDFs or split up across thousands of different web pages?</p>
    
    <p>ScraperWiki specialises in extracting and structuring that data, so you can find new leads or gain business insights.</p>
    
    <p>We deliver the data in exactly the format you need, every time its updated, so you&rsquo;re always one step ahead of the competition.</p>
    
</div>



<div id="sidebar">
    <div id="data_consulting">
        <h3>How do you get my data?</h3>
        <p>Our <a href="{% url data_consulting %}">data consulting page</a> has case studies and&nbsp;details about:</p>
        <ul>
            <li>The kinds of data we can extract</li>
            <li>How we clean your data</li>
            <li>Integration with your systems</li>
            <li>Visualisations and applications</li>
        </ul>
    </div>
    <div id="public_requests">
        <h3>I can&rsquo;t afford to pay!</h3>
        <p>If you're a non-profit or don't have a budget, post your data request
        on <a href="http://groups.google.com/group/scraperwiki?hl=en">our community email&nbsp;list</a>. 
        Make sure to mention:</p>
        <ul>
            <li>Why you want to liberate this data</li>
            <li>URLs or source documents</li>
            <li>How often the site gets updated</li>
        </ul>
        <p>Remember it's all voluntary.  If your request sounds boring or
        overly commercial, people probably won&rsquo;t respond. Use the form to 
        the left instead.</p>
    </div>
</div>

<div id="process">
{% block first_stage %}
    <div class="stage first">
        <h3>Please explain the data you require</h3>
        <p class="summary">We can scrape web pages, call APIs or access your legacy data.</p>

        <form action="{% url request_data %}" method="post" id="request">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <p class="error">{{form.non_field_errors.0}}</p>
            {% endif %}
        	<div class="question description{% if form.description.errors %} error{% endif %}">
                <p>{{form.description.label_tag}}
                {{form.description}}</p>
                {% if form.description.errors %}<p class="error">{{ form.description.errors }}</p>{% endif %}
                <div class="tips">
                    <p class="first">Make sure to tell us where we can find the data, what details you need, and what format you want the output delivered in.</p>
                    <p class="last">eg: "I need all the cheeses listed on <a href="http://www.cheese.com">http://www.cheese.com</a>. I&nbsp;need the name of each cheese, along with its country of origin and its&nbsp;description. I&nbsp;need it delivered as a&nbsp;CSV."</p>
                </div>
        	</div>
        	<div class="question name {% if form.name.errors %} error{% endif %}">
                <p>{{form.name.label_tag}}
                {{form.name}}</p>
                {% if form.name.errors %}<p class="error">{{ form.name.errors }}</p>{% endif %}
        	</div>
        	<div class="question phone {% if form.phone.errors or form.no_phone %}error{% endif %}">
                <p>{{form.phone.label_tag}}
                {{form.phone}}</p>
                {% if form.phone.errors %}<p class="error">{{ form.phone.errors }}</p>{% endif %}
        	</div>
        	<div class="question email {% if form.email.errors or form.no_email %}error{% endif %}">
                <p>{{form.email.label_tag}}
                {{form.email}}</p>
        	    {% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
            </div>
            {% if form.no_phone or form.no_email %}<p class="error" id="contact_error">Please tell us how to contact you.</p>{% endif %}
        	<div class="last">
        	    {{form.ip}}
        		<input type="submit" value="Send your request" id="send" />
        	</div>
        </form>
    </div>
{% endblock %}
    <!-- <div class="stage second">
            <h3>We&rsquo;ll phone you</h3>
            <p class="summary">Discuss your requirements in finer detail, and confirm you&rsquo;re happy to pay for an investigation.</p>
        </div> -->
    <div class="stage second">
        <h3>We investigate your request <span class="cost">$150</span></h3>
        <p class="summary">Once we understand your data request, we will do an investigation and provide you with a report outlining the best way to get the data, how we&rsquo;ll supply it to you, and the cost involved.</p>
        <p class="summary">This investigation will take some time, and we make a nominal charge of $150 for doing this work.</p>
    </div>
    <div class="stage third last">
        <h3>We write code to get your data</h3>
        <p class="summary">Armed with your report, if you wish to proceed to the next stage, you can commission us to complete the request, at which point we will give you a delivery date and agree a payment schedule.</p>
    </div>
</div>
<br class="clear" />
{% endblock %}

{% block run_script %}
    $(function(){
        function unfoldRequestForm(){
            if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Request Page', 'request form unfolded']); }
            $('#request .description .tips').slideDown(250);
            $('#id_description').animate({'height':originalheight, 'margin-bottom': 10}, 250);
            $('#request .description').nextAll().slideDown(250, function(){
                $('#request').removeClass('collapsed');
            });
        }
        var originalheight = $('#id_description').css('height');
        if($('#request .error').length == 0 && $('#id_description').val() == '' ){
            $('#request').addClass('collapsed');
            $('#id_description').one('focus', unfoldRequestForm);
        }

        $('<a>').addClass('submit').html($('#send').val() + ' <span>&#x25BA;</span>').bind('click', function(){
            $(this).prev().trigger('click');
        }).insertAfter($('#send')).prev().hide();
    });
{% endblock %}
