{% extends "frontend/base.html" %}

{% block title %}Tags{% endblock %}

{% block header %}
	<h2>Browse by tag</h2>
	<p>Scrapers and requests by tag.</p>
{% endblock %}

{% block tabs %}
    <div class="page_tabs">
        <ul>
            <li class="selected"> 
                <a id="tags" href="/tags/">Browse by tag</a> 
            </li>
            <li> 
                <a id="views" href="{% url scraper_list %}views">Views</a> 
            </li>
            <li> 
                <a id="scrapers" href="{% url scraper_list %}scrapers">Scrapers</a> 
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

<div class="content full">

    <ul class="cloud tags">
        {% for tag in tags %}
            <li class="c{{tag.font_size}}"><a href="{% url single_tag tag.name %}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>

</div>


{% endblock %}