{% extends "frontend/base.html" %}

{% block title %}ScraperWiki tutorials{% endblock %}
{% block content %}
    <div class="page_title">
        <h1>ScraperWiki tutorials</h1>
        <p>A complete introduction to how to use ScraperWiki to write screen scrapers.</p>
        <p>Begins with the basics of screen scraping, then covers more complex scraping, e.g. forms, ASP.NET pages, Excel and PDFs.</p>
	<p>Also covers ways to present your data. This includes with Google charts and maps.</p>
    </div>

<div class="content">

 {% for key, value in tutorials.items %}
<h3>{{ key }} tutorials</h3>
<dl>
    {% for scraper in value %}
    <dt>
    <a href="/editor/tutorial/{{scraper.short_name}}" class="scraper-tutorial-link"><b>{{scraper.short_name}}</b></a>
    </dt>
    <dd>
      {{scraper.description}}
    </dd>
    {% endfor %}
</dl>
 {% endfor %}

</div>

{% endblock %}