{% extends "frontend/base.html" %}

{% block title %}ScraperWiki tutorials{% endblock %}
{% block content %}

    <div class="page_title">
        <h1>ScraperWiki Tutorials</h1>
        <p>Choose from a wide selection of screen scraping tutorials and examples, from introductory to very specialized.
           Simply click on a link below, follow the instructions in the comments, and 
           start hacking.</p>
        <p>If you get stuck, you can ask our <a href="http://groups.google.com/group/scraperwiki">Google Group</a> for help.</p> 
        <p>If you are looking for the basic ScraperWiki function documentation, go 
           <a href="{% url help_code_documentation %}">here</a>.</p>
    </div>

<div class="content half left">
  <h2>Tutorial scrapers</h2>
  {% for key, value in tutorials.items %}
  <h3 id="{{ key }}_tutorials">{{ key }} tutorials</h3>
  <dl>
    {% for scraper in value %}
    <dt>
      <a href="{% url tutorial scraper.short_name %}" class="scraper-tutorial-link"><b>{{scraper.title}}</b></a>
    </dt>
    <dd>{{scraper.description}}</dd>
    {% endfor %}
  </dl>
  {% endfor %}
</div>

<div class="content half right">
  <h2>Tutorial views</h2>
  {% for key, value in viewtutorials.items %}
  <h3 id="{{ key }}_tutorials">{{ key }} tutorials</h3>
  <dl>
    {% for scraper in value %}
    <dt>
      <a href="{% url tutorial scraper.short_name %}" class="scraper-tutorial-link"><b>{{scraper.title}}</b></a>
    </dt>
    <dd>{{scraper.description}}</dd>
    {% endfor %}
  </dl>
  {% endfor %}
</div>

<br class="clear"/>


{% endblock %}
