/* @override http://localhost:8000/media/css/corporate_992.css */

/* 992.css
   Builds on top of 320/480/768.css.
   Everything here should look good 
   on a +992px screen.
*/


/* HORS D'OUVRE */

body:after {
	content: '992px';
}

header, section, footer {
	width: 990px;
}



/* HOMEPAGE SLIDER */

#slider {
	width: 990px;
	height: 390px;
}

#slider .panel {
	width: 910px;
	height: 310px;
}

#slider .panel h2 {
	font-size: 38px;
	line-height: 38px;
	text-shadow: 0 2px 10px rgba(0,0,0,0.7);
	margin-bottom: 10px;
	width: 500px;
}

#slider .panel p {
	font-size: 21px;
	line-height: 25px;
	width: 420px;
	margin-bottom: 10px;
	text-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

#slider .panel .more {
	font-size: 21px;
	padding: 8px 18px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 2px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 2px 10px rgba(0,0,0,0.7);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 2px 10px rgba(0,0,0,0.7);
}






