/* @override http://localhost:8000/media/css/new_scraper_overview.css */

#divContent {
	padding: 0;
	width: 788px;
}

ul, ul li, p, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

#header_inner p span {
	margin-right: 20px;
}

#header_inner p span:before {
	content: ".";
	display: inline-block;
	background: #fff;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	opacity: 0.7;
}

#header_inner p span a {
	text-decoration: none;
}

span.privacystatus {
	cursor: help;
}



/* TOOLBARS & TITLEBARS */

ul.toolbar ul,
ul.titlebar ul {
	display: none;
}

ul.toolbar {
	background: #ccc;
	padding: 10px;
}

ul.titlebar {
	margin: 0 0 20px 0;
}

ul.toolbar li {
	float: left;
	margin-right: 10px;
	position: relative;
}

ul.titlebar li {
	position: relative;
	float: right;
	margin-left: 10px;
	top: 2px;
}

ul.toolbar li a,
ul.titlebar li a {
	cursor: pointer;
}

ul.titlebar li.first {
	float: left;
	margin-left: 0;
	top: 0;
}

ul.toolbar li.share {
	float: right;
	margin-right: 0;
}

ul.toolbar li.clear,
ul.titlebar li.clear {
	clear: both;
	float: none;
}

ul.toolbar li a,
ul.titlebar li a {
	border: 1px solid #999;
	padding: 3px 5px 2px 5px;
	color: #666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul.toolbar li a:hover,
ul.titlebar li a:hover {
	text-decoration: none;
}

ul.toolbar li ul,
ul.titlebar li ul {
	position: absolute;
	z-index: 100;
	top: 18px;
	background: #eee;
	border: 1px solid #ccc;
	font-size: 14px;
}

ul.toolbar li ul li,
ul.titlebar li ul li {
	width: 100%;
	margin: 0;
}

ul.toolbar li ul li a,
ul.titlebar li ul li a {
	padding: 5px;
	display: block;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

ul.toolbar li ul li a:hover,
ul.titlebar li ul li a:hover {
	text-decoration: none;
	background-color: #f9f9f9;
}

ul.toolbar li:hover ul,
ul.titlebar li:hover ul {
	display: block;
}

ul.titlebar .download ul {
	width: 180px;
}





/* ABOUT & SCHEDULE */

td.schedule, td.description {
	width: 354px;
	height: 100%;
	padding: 20px;
	vertical-align: top;
}

td.schedule {
	background-color: #eee;
}

td.description {
	background-color: #ddd;
}

table.about h3,
table.about h4 {
	font-size: 16px;
	font-weight: normal;
}

table.about h3 strong {
	font-weight: normal;
	text-transform: uppercase;
}

table.about h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	margin-bottom: 3px;
	margin-top: 20px;
}

table.about h3:first-child {
	margin-top: 0;
}

td.description h3 {
	border-bottom-color: #bbb;
}

ul.buttons {
	margin-top: 20px;
}

ul.buttons li {
	float: left;
}

ul.buttons li.clear {
	float: none;
	clear: both;
}

ul.buttons li a {
	display: block;
	padding: 3px 8px 2px 8px;
	background-color: #ccc;
	line-height: 20px;
}

ul.buttons li a:hover {
	text-decoration: none;
	background-color: #c3c3c3;
}

ul.buttons a img {
	vertical-align: -2px;
	margin-right: 2px;
}

ul.buttons a.selected,
ul.buttons li a.selected:hover {
	background-color: #f9f9f9;
}

#privacy_status, #contributors {
	background-color: #f9f9f9;
	margin: 0;
	padding: 10px;
}

#privacy_status p {
	padding: 0;
}




/* DATA, HISTORY & CHAT */

div.data, div.history, div.chat {
	padding: 20px;
	border-bottom: 1px solid #eee;
}

div.data_content {
	overflow: auto;
	border: none;
	max-height: 400px;
}

ul.data_tabs li {
	font-size: 14px;
	padding: 4px 8px 0 8px;
	background-color: #eee;
}

ul.data_tabs li.selected {
	background-color: #ccc;
	color: #333;
}

.data_content table {
	border-collapse: collapse;
	border: none;
	margin-bottom: 0;
}

.dataTables_wrapper {
	background: #bbb;
}

.datapreview  {
	border: 1px solid #ccc;
}

.dataTables_length {
	
}

.datapreview td {
	padding: 3px 5px;
}

#datapreviews {
	font-size: 14px;
}

#datapreviews .ui-buttonset .ui-button {
	margin-right: -1px;
	padding: 0 5px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #333;
}

#datapreviews .dataTables_info {
	float: left;
	width: auto;
	display: inline;
	line-height: 22px;
}

#datapreviews .dataTables_paginate {
	margin-right: 0;
}

#datapreviews .ui-toolbar {
	padding: 5px 8px;
	font-weight: normal;
	line-height: 22px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 0;
	background-color: #ccc;
	color: #333;
}

.dataTables_length select {
	vertical-align: 1px;
}

#datapreviews span.css_right {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}

#datapreviews .DataTables_sort_wrapper {
	position: relative;
	padding: 2px 5px;
	cursor: pointer;
}




#datapreviews tr.odd {
	background-color: #e4f2f8;
}

#datapreviews tr.even {
	background-color: white;
}
#datapreviews tr.odd td.sorting_1 {
	background-color: #d4e9f4;
}

#datapreviews tr.odd td.sorting_2 {
	background-color: #deeff7;
}

#datapreviews tr.odd td.sorting_3 {
	background-color: #e4f2f8;
}

#datapreviews tr.even td.sorting_1 {
	background-color: #f3f9fc;
}

#datapreviews tr.even td.sorting_2 {
	background-color: #f7fbfd;
}

#datapreviews tr.even td.sorting_3 {
	background-color: #fbfdfe;
}



