{% extends "editor_base.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/editor.css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>

  <script type="text/javascript" src="{{ MEDIA_URL }}CodeMirror-0.63/js/codemirror.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/editor.js"></script>
{% endblock %}

{% block title %}
  {{ scraper.title }}
{% endblock %}

{% block content %}
  
Short name: {{ scraper.short_name }}
<h3>{{ message }}</h3>
<form action="" method="POST" accept-charset="utf-8" target="">
  {{ form.as_p }}
  <p><input type="submit" name="action" value="Commit">
  <input type="submit" name="action" value="Save">
  <input type="submit" name="action" value="Run"></p>
</form>
<iframe name="console"></iframe>
{% endblock %}