{% extends "frontend/base.html" %}
{% load number_stuff %}
{% load humanize %}

{% block title %}Key performance indicators{% endblock %}

<title>Key performance indicators</title>

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.flot.js"></script>
<script>
$(function(){
  var ticks = new Array();
  var total_scrapers = new Array();
  var total_views = new Array();
  var total_users = new Array();
  var months_scrapers = new Array();
  var months_views = new Array();
  var months_users = new Array();

  {% for year in data %}
    {% for month in year.months %}
      ticks.push([{{forloop.counter0|add:year.offset}}, '{{month.month}} {{year.year}}']);
      total_scrapers.push([{{forloop.counter0|add:year.offset}}, {{month.total_scrapers}}]);
      total_views.push([{{forloop.counter0|add:year.offset}}, {{month.total_views}}]);
      total_users.push([{{forloop.counter0|add:year.offset}}, {{month.total_users}}]);
      months_scrapers.push([{{forloop.counter0|add:year.offset}}, {{month.this_months_scrapers}}]);
      months_views.push([{{forloop.counter0|add:year.offset}}, {{month.this_months_views}}]);
      months_users.push([{{forloop.counter0|add:year.offset}}, {{month.this_months_users}}]);
    {% endfor %}
  {% endfor %}

  $("#placeholder1").width(ticks.length * 50);
  $("#placeholder2").width(ticks.length * 50);

  $.plot($("#placeholder1"), [
        {
            data: total_scrapers, 
            label: 'Total Scrapers',
            lines: { show: true },
            points: { show: true }
        },
        {
            data: total_views, 
            label: 'Total Views',
            lines: { show: true },
            points: { show: true }
        },
        {
            data: total_users,
            label: 'Total Users',
            lines: { show: true },
            points: { show: true }
        }],
        {
          xaxis: {
              ticks: ticks
          }
        });

  $.plot($("#placeholder2"), [
        {
            data: months_scrapers,
            label: 'New Scrapers',
            lines: { show: true },
            points: { show: true }
        },
        {
            data: months_views,
            label: 'New Views',
            lines: { show: true },
            points: { show: true }
        },
        {
            data: months_users,
            label: 'New Users',
            lines: { show: true },
            points: { show: true }
        }],
        {
          xaxis: {
              ticks: ticks
          }
        });

  $('.legend').css('left', '30px');

});
</script>
{% endblock %}

{% block header %}
<h2>Key performance indicators</h2>
<p>How we measure how well we're doing</p>
{% endblock %}

{% block content_outer  %}
    <div id="page_outer">
                <div id="page_inner">

<p id="placeholder1" style="width:200px;height:200px"></p>
<p id="placeholder2" style="width:200px;height:200px"></p>

<table class="data">
    <th>
       <th>Scrapers</th>
       <th>Views</th>
       <th>Users</th>
    </th>

    {% for year in data reversed %}
        {% for month in year.months reversed %}
           <tr>
               <td>{{ year.year }}, {{month.month}} </td>

               <td> {{month.total_scrapers|intcomma}} ({{ month.this_months_scrapers|plusminus_int|intcomma }}) </td>
               <td> {{month.total_views|intcomma}} ({{ month.this_months_views|plusminus_int|intcomma }}) </td>
               <td> {{month.total_users|intcomma}} ({{ month.this_months_users|plusminus_int|intcomma }}) </td>
           </tr>
        {% endfor %}
    {% endfor %}
</table>

</div></div>
{% endblock %}


